<section class="todays-date">
  <div class="gel-wrap">
    <div class="gel-layout">
      <div class="gel-layout__item">
        {{ molecule "metadata" date="Friday, 29th July 2016" timestamp="Page updated 3 minutes ago" }}
      </div>
    </div>
  </div>
</section>
