// _story.scss
//

figure{
  margin-left: 0;
  margin-right: 0
}

.story--content{
  margin-top: double($gel-spacing-unit);
}
.story--intro{
  font-weight: 700;
}
.story--title{
  @include gel-typography('trafalgar-bold');
  margin-top: 0;
  margin-bottom: double($gel-spacing-unit);
}
.story--body {
  p{ @include gel-typography('body-copy'); }
  figure{
    margin-top: 0;
    margin-bottom: double($gel-spacing-unit);
  }
  .metadata{
    margin-bottom: double($gel-spacing-unit);
  }
}

.story--crosshead{
  @include gel-typography('great-primer');
  margin-top: 0;
  margin-bottom: double($gel-spacing-unit);
}
.full-width{
  margin-left: -$margin-value-small;
  margin-right: -$margin-value-small;
  @include mq($from:gel-bp-l) {
    margin-left: inherit;
    margin-right: inherit;
  }
}

.has-caption{
  .gel-responsive-image{
    background-color: $ebon;
    margin-bottom: 0;
  }
}

.media-caption{
  background-color: $ebon;
  color: #fff;
  padding: 8px $margin-value-small;
  .media-caption__text{
    @include gel-typography('brevier');
    -webkit-font-smoothing: antialiased;
  }
}

.image{
  margin-bottom: 0;
}
