{{! sponsorship.hbs }}

<ul class="sponsorship {{classes}}">

    <li class="sponsorship__copy">
    <span class="gel-minion">Advertisement feature presented by</span>
    </li>


  <li class="sponsorship__brand">
    	<img class="logo" src="{{image}}" alt="" height="" width="" />
  </li>

</ul>

<!-- href="{{section-url}}" -->
