<section class="dropdown {{classes}}">
  <div class="gel-wrap">
    <div class="gel-layout dropdown__item">
      <div class="gel-layout__item ">



        <select  tabindex="1" class="layoutOptions option" name="max--wrap">
            <option value="Max Theme">Choose a Theme</option>
            <option value="theme--max__obits-slate">Slate</option>
            <option value="theme--max__blue-slate">Blue Slate</option>
            <option value="theme--max__jet-black">Jet Black</option>
            <option value="theme--light">Standard Theme</option>
        </select>

        <!-- <select class="toggleClass option" name="max--wrap .iron__item .promo">
            <option value="promo--card">Cluster Cards Off</option>
            <option value="promo--card">Cluster Cards On</option>
        </select>
        <select class="toggleClass option" name="max--wrap">
            <option value="max--card">Max Cards Off</option>
            <option value="max--card">Max Cards On</option>
        </select> -->
        <select class="toggleClass option" name="max--wrap .iron--wrap">
            <option value="hide-cluster">Cluster On</option>
            <option value="hide-cluster">Cluster Off</option>
        </select>

        <select  tabindex="1" class="layoutOptions option" name="b-pw-1280">
            <option value="Max Theme">Choose Badge</option>
            <option value="label__red-badge">Red Badge</option>
        </select>

        <select  tabindex="1" class="layoutOptions option" name="b-pw-1280">
            <option value="see_also_6">6 See Alsos</option>
            <option value="see_also_5">5 See Alsos</option>
            <option value="see_also_4">4 See Alsos</option>
            <option value="see_also_3">3 See Alsos</option>
            <option value="see_also_2">2 See Alsos</option>
            <option value="see_also_1">1 See Alsos</option>
            <option value="see_also_0">0 See Alsos</option>
        </select>


      </div>
    </div>
  </div>
</section>
