/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

    /**
     * We sometimes want to use flexbox to give us equal height columns
     * GEL Layout doesn't currently offer this so we'll add it here for now
     * when this gets moved to the GEL component we can remove it from here
     */
     @include mq($from:gel-bp-m) {
    .gel-layout--flex {
        display: flex;
        flex-wrap: wrap;

        .gel-layout__item {
           display: flex;
        }
    }
  }

    @include mq($from:gel-bp-xs, $until:gel-bp-m) {
      .layout--flex\@s{
          display: flex;
          flex-wrap: wrap;
           .gel-layout__item {
                 display: flex;
           }
      }
    }

    @include mq($from:gel-bp-m, $until:gel-bp-l) {
      .layout--flex\@m{
          display: flex;
          flex-wrap: wrap;
           .gel-layout__item {
                 display: flex;
           }
      }
    }

    @include mq($from:gel-bp-l, $until:gel-bp-xxl) {
      .layout--flex\@l{
          display: flex;
          flex-wrap: wrap;
           .gel-layout__item {
               display: flex;
           }
      }
    }

    @include mq($from:gel-bp-xxl) {
      .layout--flex\@xxl{
            display: flex;
           .gel-layout__item {
                 display: flex;
           }
      }
    }


    $margin-value-small: 8px;
    $gutters-width-xxlarge: 16px;

    /*------------------------------------*\
        #GUTTERS
    \*------------------------------------*/

     @include mq($from:gel-bp-xxl){
       .gel-layout__item {
          padding-left: $gutters-width-xxlarge;
       }


       .gel-layout {
         margin-left: -$gutters-width-xxlarge;
       }
     }


     /*------------------------------------*\
         #VERTICAL SPACING
     \*------------------------------------*/
$spacing-vertical-small: 8px;
$spacing-vertical-medium: 16px;
$spacing-vertical-large: 16px;
$spacing-vertical-xxlarge: 16px;


@include mq($from:gel-bp-xs, $until:gel-bp-s) {
  .double-spacing--vertical\@xs{
      padding-bottom: $spacing-vertical-small * 2;
      &.at-line-b-until\@s{
         margin-bottom: $spacing-vertical-small;

        &:before{
         top: -$spacing-vertical-small;
        }
    }
    }
  }

     @include mq($from:gel-bp-xs, $until:gel-bp-m) {
       .double-spacing--vertical\@s{
           padding-bottom: $spacing-vertical-small * 2;
           &.at-line-b-until\@s{
              margin-bottom: $spacing-vertical-small;

             &:before{
              top: -$spacing-vertical-small;
             }
         }
         }
       .spacing--vertical\@s{
           padding-bottom: $spacing-vertical-small;
           &.at-line-b-until\@s{
              margin-bottom: $spacing-vertical-small;

             &:before{
              top: -$spacing-vertical-small;
             }
         }
       }
       .halve-spacing--vertical\@s{
           padding-bottom: $spacing-vertical-small / 2;
           &.at-line-b-until\@s{
              margin-bottom: $spacing-vertical-small / 2;

             &:before{
              top: -$spacing-vertical-small / 2;
             }
         }
       }
     }


    @include mq($from:gel-bp-m, $until:gel-bp-l) {
      &.at-line-b-until\@m{

        &:after{
         top: -$spacing-vertical-medium;
        }
    }

      .spacing--vertical\@m{
          padding-bottom: $spacing-vertical-medium;
      }
    }

    @include mq($from:gel-bp-l, $until:gel-bp-xxl) {
      &.at-line-b-until\@l{


        &:after{
         top: -$spacing-vertical-large;
        }
      }

      .spacing--vertical\@l{
          padding-bottom: $spacing-vertical-large;
      }
    }

    @include mq($from:gel-bp-xxl) {
      &.at-line-b-until\@xxl{
        
        &:after{
         top: -$spacing-vertical-xxlarge;
        }
      }

      .spacing--vertical\@xxl{
          padding-bottom: $spacing-vertical-xxlarge;
      }
    }
