@include mq($from:gel-bp-xs, $until:gel-bp-m) {
.fiftyPercentImages{
  .promo--standard{
    .promo__media{
      width: 50%;
    }
  }
}

.regular-font-on-mobile{
  .promo--standard   .promo__headline{

        font-weight: 400 !important;
        letter-spacing: normal !important;
    }
}
.hide-river-stories{
  .hydrogen__river{
    .hydrogen__item--river{
      min-height: 74px;
    }
    .promo__media{
      display: none !important;
    }
    .promo__body {
    padding-bottom: 16px;
    }

  }
}
}
.label--breaking .label {
    background-color: transparent !important;
}
