/*html,
body,
div,
span,
h2,
a,
ul,
li,
button,
nav {
  border: 0;
  color: inherit;
  font: inherit;
  font-size: 100%;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}*/

/*nav {
  display: block;
}
*/
ul {
  list-style: none;
}
/*
a:link {
  -webkit-tap-highlight-color: rgba(17,103,168,0.3);
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

button {
  overflow: visible;
  width: auto;
}*/

/*input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}*/

/*:focus {
  outline: auto 5px -webkit-focus-ring-color;
}

html:focus,
body:focus {
  outline: none;
}*/
/*
body {
  color: #404040;
  font-family: Helmet,Freesans,Helvetica,Arial,sans-serif;
  font-weight: 400;
  line-height: 1.4;
}*/

/*a {
  text-decoration: none;
}*/

.invisible {
  visibility: hidden;
}

.off-screen {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.invisible {
  visibility: hidden;
}

.off-screen {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.navigation__section {
  border: 1px solid #bb4545;
  border-color: #bb4545;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/*body {
  background: #eee;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.142857142857143;
  margin: 0 auto;
  max-width: 640px;
}*/

.site-brand {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.142857142857143;
  background-color: #bb1919;
  position: relative;
}

.site-brand-inner {
  height: 56px;
}

@media (max-width: 248px) {
  .site-brand-inner {
    height: 96px;
  }
}

#brand {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 13px;
}

.brand__svg {
  height: 30px;
  width: 102px;
}

.site-brand {
  background-color: #bb1919;
  position: relative;
}

.site-brand-inner {
  height: 56px;
}

@media (max-width: 248px) {
  .site-brand-inner {
    height: 96px;
  }
}

#brand {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 13px;
}

.brand__svg {
  height: 30px;
  width: 102px;
}

.navigation-panel {
  background-color: #000;
  display: none;
}

.navigation-panel a {
  color: #fff;
}

.ctm .navigation-panel {
  display: block;
}

.ctm .navigation-panel.navigation-panel--closed {
  display: none;
  visibility: hidden;
}

.site-brand-inner--height {
  height: auto;
}

.invisible {
  visibility: hidden !important;
}

.navigation__section {
  bottom: 8px;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: inherit !important;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  line-height: 1.5em;
  padding: 9px 12px;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 8px;
}

@media (max-width: 248px) {
  .navigation__section {
    bottom: 0;
    right: auto;
    top: auto;
    left: 0;
  }
}

.navigation--primary {
  min-height: 56px;
  position: relative;
}

@media (max-width: 248px) {
  .navigation--primary {
    padding-bottom: 44px;
  }
}

.secondary-navigation--narrow .secondary-navigation-narrow-list>ul,
.navigation-panel-toplevel,
.navigation-wide-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation--wide {
  background-color: #a91717;
  border-color: #a91717;
  border-top: 1px solid #a91717;
  display: none;
  position: relative;
  visibility: hidden;
}

.navigation-wide-list>li,
.navigation-wide-list--secondary ul>li {
  float: left;
}

.navigation-wide-list__link,
.navigation__more-button {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 10px 0 4px 12px;
  text-decoration: none;
}

.navigation-wide-list__link span,
.navigation__more-button span {
  font-size: inherit;
  line-height: 22px;
}

.navigation-wide-list--secondary .navigation-wide-list__link {
  color: #222;
  padding-top: 10px;
}

.navigation-wide-list__link>span {
  border-right: 1px solid #bb4545;
  display: block;
  padding-right: 12px;
}

.navigation-wide-list--secondary .navigation-wide-list__link>span {
  border-right: 1px solid #dcdcdc;
}

.navigation-wide-list__link--last>span {
  border-right: none;
}

.navigation-wide-list--secondary .navigation-wide-list__link--last>span {
  border-right: none;
}

.navigation-wide-list--secondary .navigation-wide-list__link--first {
  padding-left: 0;
}

.navigation-wide-list--secondary .navigation-wide-list__link--first span {
  border-left: 1px solid #dcdcdc;
  padding-left: 12px;
}

.navigation-wide-list .selected .navigation-wide-list__link,
.navigation-wide-list .selected.secondary-navigation__title,
.navigation-wide-list .navigation-wide-list__link:hover,
.navigation-wide-list .navigation-wide-list__link:focus {
  border-bottom: 4px solid #fff;
}

.navigation-wide-list--secondary .selected.secondary-navigation__title,
.navigation-wide-list--secondary .navigation-wide-list__link:hover,
.navigation-wide-list--secondary .navigation-wide-list__link:focus {
  border-bottom: 4px solid #bb1919;
}

.navigation__more-button-container {
  position: absolute;
  top: 0;
}

.ctm .navigation-arrow {
  position: relative;
  border: 0;
}

.secondary-navigation--narrow .secondary-navigation__title {
  color: #fff;
  display: block;
  float: none;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 8px;
  padding-top: 10px;
}

.secondary-navigation--narrow .secondary-navigation__title:hover,
.secondary-navigation--narrow .secondary-navigation__title:focus {
  text-decoration: underline;
}

.secondary-navigation--narrow .navigation-arrow>span:after {
  background: url(/assets/images/news/news--icons-sprite.png) -10px -5311px no-repeat;
  content: '';
  height: 14px;
  position: absolute;
  right: 16px;
  width: 12px;
}

@media (-webkit-min-device-pixel-ratio: 1.3), (-ms-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2.6/2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .orb-js .secondary-navigation--narrow .navigation-arrow>span:after {
    background-image: url("/assets/images/news/news--icons-sprite_x2.png");
    background-size: 32px;
  }
}

.secondary-navigation--narrow .secondary-navigation-narrow-list>ul {
  border-top: 1px solid #3d3d3d;
  padding: 4px 12px 4px 8px;
}

.secondary-navigation--narrow .secondary-navigation-narrow-list>ul li {
  font-size: 16px;
}

.secondary-navigation--narrow.secondary-navigation--narrow-closed .secondary-navigation__title {
  background: #fff;
  border-bottom: 1px solid #ededed;
  color: #222;
}

.secondary-navigation--narrow.secondary-navigation--narrow-closed .secondary-navigation__title:hover,
.secondary-navigation--narrow.secondary-navigation--narrow-closed .secondary-navigation__title:focus {
  color: #1167a8;
  text-decoration: none;
}

.secondary-navigation--narrow.secondary-navigation--narrow-closed .navigation-arrow>span:after {
  background-position: -10px -5811px;
}

.secondary-navigation--narrow.secondary-navigation--narrow-closed .secondary-navigation-narrow-list>ul {
  display: none;
}

.navigation-panel--wide {
  position: relative;
  z-index: 11;
}

.navigation-panel--wide .navigation-panel__content {
  background-color: #000;
  border-bottom: 4px solid #bb1919;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}

.navigation-panel--closed {
  display: none;
}

.navigation-panel__inner {
  margin: auto;
  max-width: 992px;
}

.secondary-navigation--narrow {
  background-color: #000;
  color: #fff;
}

.secondary-navigation--narrow-closed {
  background-color: #fff;
}

.secondary-navigation--bottom__toplevel a {
  display: block;
  padding-bottom: 11px;
  padding-top: 11px;
  text-decoration: none;
}

.secondary-navigation--bottom__toplevel a:hover,
.secondary-navigation--bottom__toplevel a:focus {
  text-decoration: underline;
}

.navigation-panel-toplevel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  overflow: hidden;
  padding: 1em 0;
}

.navigation-panel-toplevel li {
  border-right: 1px solid #464646;
}

.navigation-panel-toplevel:last-child>li {
  border-right: none;
}

.navigation-panel-toplevel--columnised-4 {
  width: 25%;
}

.navigation-panel-toplevel>li>a {
  display: block;
  margin: 0 20px;
  padding: 0;
}

.navigation-panel-toplevel>li>a:hover,
.navigation-panel-toplevel>li>a:focus {
  text-decoration: underline;
}

.navigation-panel-toplevel>li>a>span {
  position: relative;
}

.navigation-panel-toplevel>li>a>span:after {
  background: url(/assets/images/news/news--icons-sprite.png) -10px -3910px no-repeat;
  bottom: 4px;
  content: '';
  height: 14px;
  padding-left: 0;
  right: -20px;
  position: absolute;
  width: 11px;
}

@media (-webkit-min-device-pixel-ratio: 1.3), (-ms-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2.6/2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .orb-js .navigation-panel-toplevel>li>a>span:after {
    background-image: url("/assets/images/news/news--icons-sprite_x2.png");
    background-size: 32px;
  }
}

.navigation-panel-toplevel li+li a {
  padding-top: 20px;
}

.navigation-wide-list {
  height: 40px;
  margin: auto;
  /*max-width: 911px;*/
  max-width: 992px;
  overflow: hidden;
  padding-right: 81px;
  position: relative;
}

.navigation-wide-list--secondary {
  background-color: transparent;
}

.secondary-navigation__title {
  float: left;
}

.secondary-navigation__title.navigation-wide-list__link span {
  border-right: 0;
  line-height: 1.375rem;
}

.secondary-navigation--wide {
  background-color: #fff;
  display: none;
  visibility: hidden;
}

@media (max-width: 599px) {
  .ctm .navigation--wide,
  .ctm .secondary-navigation--wide,
  .ctm .navigation-panel--wide {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 600px) {
  .ctm .navigation__section,
  .ctm .secondary-navigation--narrow {
    display: none;
    visibility: hidden;
  }

  .ctm .navigation--wide,
  .ctm .secondary-navigation--wide {
    display: block;
    visibility: visible;
  }
}

.find-local-wide {
  display: none;
}

.site-brand-inner {
  padding-left: 8px;
  padding-right: 8px;
}
