@-webkit-keyframes fadeIn {
  0%   { opacity:0; }
  5%   { opacity:1; }
  50%  { opacity:1; }
  60%  { opacity:0; }
  100% { opacity:0; }

}

@keyframes fadeIn {
  0%   { opacity:0; }
  5%   { opacity:1; }
  50%  { opacity:1; }

}


.nw-c-toggle-button__indicator--add {
  background-color: #006ef0;
  .toggle--hover, .toggle--remove{
    display: none;
    fill: #007BC7;
  }
  .toggle--add{
    fill: #fff;
    display: inline-block;
  }
}

.add-text {
    &:after {
      content: 'Add to My News';
      display: inline-block;
      padding-left: 4px;
    }
  }

.nw-toggle-button--added--topic {

  &:hover{

    .toggle--remove{
      display: none;
    }
    .toggle--hover{
      display: inline-block;
    }
    .add-text {
      &:after {
        content: 'Remove';
        display: inline-block;
        padding-left: 4px;
      }
    }

  }
  .nw-c-toggle-button__indicator--add{
  background-color: #E6E6E6;
  color: #007BC7;
  }

  .toggle--remove{
    display: inline-block;
  }


  .toggle--hover, .toggle--add{
    display: none;
  }

  .add-text {
    &:after {
      content: 'Added';
      display: inline-block;
      padding-left: 4px;
    }
  }

}

.nw-c-toggle-button__indicator--large{
    min-width: 32px;
    height: 32px;
}

.nw-c-toggle-button__indicator--medium{
    min-width:28px;
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;

}

.nw-c-toggle-button__indicator--small{
    min-width:28px;
    height: 28px;
    padding-left: 8px;
    padding-right: 8px;

}

.nw-c-toggle-button__indicator {
    display: table-cell;

    vertical-align: middle;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.nw-c-toggle-button__indicator + .slice-header--title,  .nw-c-toggle-button__indicator + .topic-tag__name{
    margin-left: halve($gel-spacing-unit);
  }
.nw-c-toggle-button__indicator + .slice-header--title{
    margin-left: $gel-spacing-unit;
    a{line-height:32px;}
  }


.slice-header--title{
  margin-right: double($gel-spacing-unit);
}

// BUTTON ADDED STATES
//

// US Election
[data-toggle-add-topic="us-election"] {

  // Added state
  .t-us-election & {
    @extend .nw-toggle-button--added--topic ;
  }
}

// US Election
[data-toggle-add-topic="oscars-2016"] {

  // Added state
  .t-oscars-2016 & {
    @extend .nw-toggle-button--added--topic ;

  }
}

// US Election
[data-toggle-add-topic="eu-referendum"] {

  // Added state
  .t-eu-referendum & {
    @extend .nw-toggle-button--added--topic ;
  }
}

.add--toggle-button{
  display: inline-block;
}


.display-tool-tip {
color: #007BC7;
  display: none;
  box-shadow: 0px 0px 3px #949191;
    background-color: #C4E6FD;
      position: fixed;
      top: 0;
      width: 100%;
      height: 48px;
      z-index: 999999;
      margin-top: 0;
      left: 0;
}

.tooltip--body{

  max-width: 1008px;
  margin:12px auto 0;
  padding-left: 16px;
  padding-right:16px;
  @include mq($from:gel-bp-xxl) {
  max-width: 1280px;
  padding-left: 24px;
  padding-right:24px;
  }
  .gelicon{
    vertical-align: middle;
  }
  .tooltip--message{
     vertical-align: middle;
     margin-left: 8px;
  color: #05435E;
  }

    .tooltip--link{
    position:relative;
    color: #05435E;
    font-weight: bold;
    &:before {
    content: '';
    position: absolute;
    width: 98%;
    bottom: -1px;
    border-bottom: 1px solid rgba(5, 67, 94, 0.28);
    }
    }
}
