/*------------------------------------*\
    #ORB HACKS
\*------------------------------------*/

/**
 * ORB doesn't use a global box-sizing yet we do, so we need to
 * reset there box model back to the browser default
 */
#orb-banner,
#orb-footer {
    box-sizing: content-box;
}


  @include mq($from:320px, $until:gel-bp-m) {
    .b-g-p, .b-r .b-g-p {
    padding: 0 16px;
    }
    .global-header__logo{
      margin-left: 16px;
    }
    .global-header__all-sports-button{
      right: 16px;
    }
  }
