///*------------------------------------*\
//    # boron USED FOR TOP STORIES
//\*------------------------------------*/
.nav-top.news+.boron--wrap {
  @include mq($from:gel-bp-m) {
    margin-top: 16px;
  }
}

.leaderboard--wrap+.boron--wrap {
  @include mq($from:gel-bp-m) {
    margin-top: 16px;
  }
}


.gel-typography-default .boron__item .promo--lead .promo__headline{
  @include gel-typography('paragon-bold');
}

.boron__item{

  &.boron__item--2{
    @include mq($from:gel-bp-xxl) {
      .promo--standard {
          min-height: 265px;
      }
    }
  }
  @include mq($from:gel-bp-m) {
  .promo--standard {
      min-height: 300px;
  }
 }
  @include mq($from:gel-bp-l, $until:gel-bp-xxl) {
    &:nth-last-child(-n+3) {
      float: left;
    }
    .promo--standard {
        min-height: 320px;
    }
  }
}




///*------------------------------------*\
//    # RIVER DISPLAYS HEADLINES ONLY
//\*------------------------------------*/

.boron__river{
    .boron__item--river{
      min-height: 80px;
     }
     &.at-line-t-until\@l:before{
       left: 0;
     }
     @include mq($from:gel-bp-xs, $until:gel-bp-m) {
       &> div .boron__item--river:last-child{
         margin-bottom: 0;
         padding-bottom: 0;
         &:after{
           content: none;
         }
       }
     }
     @include mq($from:gel-bp-m, $until:gel-bp-l) {
       padding-top: 16px;

     }
     @include mq($from:gel-bp-l, $until:gel-bp-xxl) {
       padding-top: 12px;
       margin-bottom: -16px;
     }
     @include mq($from:gel-bp-m) {
       .promo__media{
         display: none;
       }
       .promo--feature_brand .media-type{
         margin-bottom: 8px;
        display: inline;
        padding-left: 0;
       }
       .promo__headline{
         display: inline;
       }
     }

    @include mq($from:gel-bp-xxl) {
      padding-top: 16px;

    }


}

.boron--box{
  @include mq($from:gel-bp-m) {
    margin-bottom: -16px;
  }
}

.bbccom_mpu{
  @include mq($from:gel-bp-m, $until:gel-bp-xxl){
  .boron__item--9, .river_1{
    float: left;
  }
  }
  .river_2 .boron__river{

      @include mq($from:gel-bp-m, $until:gel-bp-xxl){
    &.at-line-t-until\@l:before{
      display: none;
    }
    }
  }

  // .mpu--image{
  //   background-image: url(../assets/adverts/mercedes_ph.jpg) !important;
  // }
  .ad_slot_two .mpu--image{
    padding-bottom: 250px;
  }
  .boron__item .promo--standard {
    @include mq($from:gel-bp-m){
    min-height: 295px;
    }
  }

  @include mq($from:gel-bp-xxl) {
  .river_1{
    .boron__river{
      padding-top: 12px;
    }

    .river__item--0, .river__item--1 , .river__item--2 {
      min-height: 99px;
    }
  }

  }
  @include mq($from:gel-bp-m, $until:gel-bp-l) {
  .river_1{
    .boron__river{
      padding-top: 12px;
    }

    &.gel-1\/1\@m{
      width: gel-columns(2/3)!important;
      .gel-1\/3\@m{
          width: gel-columns(1/2) !important;
      }
      }
    }
  .river_2{
      .boron__river{
        padding-top: 0;
      }
    &.gel-1\/1\@m{
    width: gel-columns(2/3)!important;
      .gel-1\/3\@m{
          width: gel-columns(1/2) !important;
      }
    }
  }
  }
   @include mq($from:gel-bp-l, $until:gel-bp-xxl) {

    .gel-4\/18\@l{
      &.boron__item--2,&.boron__item--3,&.boron__item--4,&.boron__item--6,&.boron__item--7{
      width: 25% !important;
      }
    }
    .boron__river .boron__item--river{
      min-height: 94px;
    }
  }
  @include mq($from:gel-bp-xxl) {
    .gel-3\/16\@xxl{
      &.boron__item--4,&.boron__item--5,&.boron__item--6,&.boron__item--7,&.boron__item--8,&.boron__item--9{
      width: 20% !important;
      }
    }


  }
  .boron__river{
    margin-top: 0;
  }
}

.bbccom_hpu{
  @include mq($from:gel-bp-xs, $until:gel-bp-l){
    .river__item--0{
      .promo__summary{
        display: none;
      }
    }
  }
  @include mq($from:gel-bp-m, $until:gel-bp-l){
  .river_2{
    .boron__river{
      padding-top: 0;
      &.at-line-t-until\@xxl:before{
        display: none;
      }
    }
    }
  }
  @include mq($from:gel-bp-l, $until:gel-bp-xxl){
    .boron__item--8 {
      float: left;
    }
    .river_1, .river_2{
      width: gel-columns(1/2) !important;
      .river__item--0{
        width: gel-columns(1/2) !important;
        .promo__summary{
          display: none;
        }
      }
      .river__item--1{
        width: gel-columns(1/2) !important;
      }
      .river__item--2{
        width: gel-columns(1/2) !important;
      }
      .river__item--3{
        width: gel-columns(1/2) !important;
      }
      .river__item--4{
          width: gel-columns(1/2) !important;

      }
    }
    .river_2 .boron__river{
      &.at-line-t-until\@xxl:before{
        display: none;
      }
    }
  }

  @include mq($from:gel-bp-xxl) {
    .river_1{
      width: gel-columns(12/1) !important;
      .river__item--0, .river__item--1,.river__item--2,.river__item--3, .river__item--4{
        width: gel-columns(1/5) !important;
      }
    }
    .river_2{
      width: 100% !important;
      .river__item--0{
        width: gel-columns(1/5) !important;
      }
      .river__item--1{
        width: gel-columns(1/5) !important;
      }
      .river__item--2{
        width: gel-columns(1/5) !important;
      }
      .river__item--3{
        width: gel-columns(1/5) !important;
      }
      .river__item--4{
          width: gel-columns(1/5) !important;

      }
      .boron__river{
        padding-top: 0;
        &.at-line-t-until\@xxl:before{
          display: none;
        }
      }
    }

  }

}

.story_teleport_10a{

  .bbccom_mpu &{

    @include mq($from:gel-bp-m){
        display: block;
    }
    @include mq($from:gel-bp-l){
        display: none;
    }
  }
  .bbccom_hpu & {
    @include mq($from:gel-bp-m, $until:gel-bp-l){
        display: none;
    }
  }
}
.story_teleport_10b{

  .bbccom_mpu &{

    @include mq($from:gel-bp-xs, $until:gel-bp-l){
        display: none;
    }
  }
  .bbccom_hpu & {

    @include mq($from:gel-bp-l){
        display: none;
    }
    @include mq($from:gel-bp-xs, $until:gel-bp-m){
        display: none;
    }

  }
}


.story_teleport_11a{


  .bbccom_mpu &{
    display: none;
  }
  .bbccom_hpu &{
    @include mq($from:gel-bp-xs){
      display: none;
    }
    @include mq($from:gel-bp-xxl){
        display: block;
    }

  }
}
.story_teleport_11b{

  .bbccom_hpu &{
    @include mq($from:gel-bp-xxl){
        display: none;
    }
  }
}
