<header class="global-header" data-istats-container="header">
  <div class="global-header__wrap">
    <a class="global-header__logo" data-istats-container="sport-logo" href="/">
    <span class="global-header__font-icon"></span>
    <span class="ico ico-sport global-header__image-icon"></span>
    <span class="vh">BBC</span>

    <span class="global-header__sport-text">News</span>

    <span class="vh"> Home Page </span></a>




    <a class="global-header__all-sports-button" href="#">
      <span class="ico ico-burger global-header__burger"></span>
      <span class="global-header__all-sports-text">More News</span>
      <span class="global-header__acc-all-sports-enhanced vh">More News menu</span>
    </a>

<div class="find-local-wide set-location" id="find-local-wide">
    <a class="find-local-wide__link gel-paragon" data-toggle-add-topic="location-set">Find local news</a>
</div>

<div class="find-local-wide location-london" id="find-local-wide"><a href="#" class="find-local-wide__location">London</a>
    <button class="find-local-wide__link find-local-wide__link--icon-only">Find local news</button>
</div>



  </div>
</header>
