.has-ads{
  display: inline-block;
  float: right;
}

.ad-slot-label{
  font-size: 13px;
  line-height: 16px;
  float: right;
  a{
  color: $rhino;
  }
}

.leaderboard--container{
  margin: 0 auto;
}
.advert--leaderboard{
  padding-top: 8px;
  width:728px;
  margin: 0 auto;
  overflow: hidden;
  .has-advert--large &{
    &.advert--large{
      display:block;
      height: 600px;
    }
  }
  .has-advert--small &{
    &.advert--small{
      display:block;
      height: 500px;
    }
  }
}

// AD SLOT 1
@include mq($from:'gel-bp-xs', $until:299px ) {
 .ad_slot_one{
   display: none;
 }
}

@include mq($from:300px, $until:'gel-bp-m' ) {
  .ad_slot_one{
    padding-bottom: 16px;
    margin-bottom: 0 !important;
  }
}

@include mq($from:300px, $until:539px ) {
  .ad_slot_one{
    .advert--leaderboard{
      width: 320px;
    }
    .leaderboard--image{
     background-image: url(../assets/adverts/banner300x50.jpg);
     padding-bottom: 50px;
     width: 300px;
     &:after{
       content: 'Top Ad Slot';
        font-size: 18px;
        top: 28%;
        display: none;
     }
     &:before{
       content: 'Leaderboard, Wide Leaderboard, Pushdown, Billboard';
       bottom: 5px;
       font-size: 10px;
       display: none;
     }
   }
  }
}

@include mq($from:540px, $until:727px ) {
  .ad_slot_one{
    .advert--leaderboard{
      width: 516px;
    }
    .leaderboard--image{
     background-image: url(../assets/adverts/banner516x60.jpg);
     padding-bottom: 60px;
     width: 516px;
     &:after{
       content: 'Top Ad Slot';
        font-size: 20px;
        top: 40%;
     }
     &:before{
       content: 'Leaderboard, Wide Leaderboard, Pushdown, Billboard';
       bottom: 0;
       display: none;
     }
   }
  }
}

@include mq($from: 728px) {
  .ad_slot_one{
    .advert--leaderboard{
      width: 728px;
    }
    .leaderboard--image{
    //  background-image: url(../assets/adverts/leaderboard.jpg);
     padding-bottom: 90px;
     width: 728px;
     &:after{
       content: 'Top Ad Slot';
       top: 45%;
     }
     &:before{
       content: 'Leaderboard, Wide Leaderboard, Pushdown, Billboard';
       width: 100%;
       display: none;
     }
   }
  }
}

// leaderboard
@include mq($from:'gel-bp-xs', $until:299px ) {
 .leaderboard{
   display: none;
 }
}
@include mq($from:300px, $until:'gel-bp-m' ) {
  .leaderboard{
    margin-bottom: 16px;
  }
}
@include mq($from:300px, $until:539px ) {
  .leaderboard{
    .advert--leaderboard{
      width: 300px;
    }
    .leaderboard--image{
    //  background-image: url(../assets/adverts/leaderboard.jpg);
     padding-bottom: 50px;
     width: 300px;
     &:after{
       content: 'Banner 300x50 or 320x50 | from 320 - 539px';
        font-size: 16px;
     }
   }
  }
}

@include mq($from:540px, $until:727px ) {
  .leaderboard{
    .advert--leaderboard{
      width: 516px;
    }
    .leaderboard--image{
    //  background-image: url(../assets/adverts/leaderboard.jpg);
     padding-bottom: 60px;
     width: 516px;
     &:after{
       content: 'IAB Leaderboard (516x60) | from 540 - 727px';
        font-size: 20px;
        display: none;
     }
   }
  }
}

@include mq($from: 728px) {
  .leaderboard{
    .advert--leaderboard{
      width: 728px;
    }
    .leaderboard--image{
     background-image: url(../assets/adverts/leaderboard.jpg);
     padding-bottom: 90px;
     width: 728px;
     &:after{
       content: 'IAB Leaderboard (728x90) | from 728+';
       display: none;
     }
   }
  }
}

@include mq($from:'gel-bp-xs') {
    .pushdown, .billboard, .wide-leaderboard{
      display: none;
    }
}
@include mq($from:970px) {
  .wide-leaderboard{
    display: inherit;
    .advert--leaderboard{
      width: 970px;
    }
    .leaderboard--image{
//     background-image: url(../assets/adverts/leaderboard.jpg);
     padding-bottom: 90px;
     width: 970px;
     &:after{
       content: 'IAB Wide leaderboard (970x90) | from 970+';
     }
   }
  }
}

@include mq($from:970px) {
  .pushdown {
    display: inherit;
    .advert--leaderboard{
      width: 970px;
    }
    .leaderboard--image{
    //  background-image: url(../assets/adverts/leaderboard.jpg);
     padding-bottom: 66px;
     width: 970px;
     &:after{
       content: 'OPA Pushdown (970x66)  | from 970+';
     }
   }
  }
}

@include mq($from:970px) {
  .billboard {
    display: inherit;
    .advert--leaderboard{
      width: 970px;
    }
    .leaderboard--image{
    //  background-image: url(../assets/adverts/leaderboard.jpg);
     padding-bottom: 250px;
     width: 970px;
     &:after{
       content: 'IAB Billboard (970x250) | from 970+';
     }
   }
  }
}

.leaderboard--image{
  font-weight: 600;
  font-size: 24px;
  // background-image: url(../assets/adverts/leaderboard.jpg);
  background-position: 50%;
     background-repeat: no-repeat;
     background-size: cover;
     padding-bottom: 56.25%;
     position: relative;
     height: 0;
     overflow: hidden;
     background-color: #efefef;
  &:after{
    text-align: center;
    display:block;
    position: absolute;
    top:50%;
    left: 50%;
    color: #fff;
    text-shadow: 1px 1px #ccc;
    transform: translate(-50%, -50%);
    margin: 0;
     width: 100%;
  }
  &:before{
    text-align: center;
    display:block;
    position: absolute;
    bottom:8px;
    left: 50%;
    color: #fff;
    text-shadow: 1px 1px #ccc;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 12px;
    width: 100%;
  }

}
