


<section class="leaderboard leaderboard--wrap {{classes}} ad_slot_one">


  <div class="leaderboard--container">

        <aside class="advert--leaderboard">
          <!-- <section class="dropdown {{classes}}">

              <div class="dropdown__item">
                  <select  tabindex="1" class="layoutOptions option" name="leaderboard--wrap">
                      <option value="ad_slot_one">Ad Slot One</option>
                      <option value="leaderboard">Leaderboard (728x90)</option>
                      <option value="wide-leaderboard">Wide Leaderboard (970x90)</option>
                      <option value="pushdown">Pushdown (970x66)</option>
                      <option value="billboard">Billboard (970x250)</option>
                  </select>

              </div>

          </section> -->

          <span class="ad-slot-label"><a href="#">Advertisement</a></span>
          <div class="leaderboard--image">
          </div>
        </aside>


  </div>
</section>
