.icon {
  display: inline-block;
  vertical-align: middle;
}

// Modifiers
//

.icon--type {
  line-height: 1;
  margin-top: -0.25em;
  vertical-align: middle;

  &,
  svg {
    height: 1em;
    width: 1em;
  }
}

.icon--label {
  background: #000;
  margin-right: 0.5em;
  padding: 0.5px 0px 0px 5px;
  height: 16px;
  width: 18px;

  svg {
    fill: #FFF;
    height: 9px;
    width: 9px;
  }
}
