.image {
  height: auto;
  width: 100%;
}

.gel-responsive-image--16by9{
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: cover;
  }
.gel-responsive-image--16by9 {
    padding-bottom: 56.25%;
}

.gel-responsive-image {
    position: relative;
    height: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}


.promo--feature__standard,.promo--feature{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .b-lazy {
       opacity:0;
       transition: all 300ms;
    }
    .b-loaded {
       opacity:1;
       transition: opacity 1s ease-out;
    }
