
{{#if image}}
  <div class="gel-responsive-image gel-responsive-image--16by9 {{image-classes}}">
  	<img class="b-lazy image" data-src="{{image}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" height="" width="" />
  </div>
 {{/if}}

{{#if background-image}}
  <div class="b-lazy gel-responsive-image gel-responsive-image--16by9"  data-src="{{background-image}}" style="background-image: url({{background-image}});">
  </div>
{{/if}}
