
<section class="organism_placeholder--wrap gs-u-clearfix {{classes}}">


    <div class="gel-wrap">
      {{ molecule "stripenav" }}

      <!-- 5 items group -->
      <div class="gel-layout">

        <div class="gel-layout__item gel-1/1@l gel-1/1@xxl">
          <div class="organism_placeholder" style="{{css}}">

          </div>
        </div>
      </div>
    </div>

</section>
