

{{#if image}}

  <aside class="advert ad_slot_two">
    <!-- <section class="dropdown {{classes}}">

        <div class="dropdown__item">


            <select  tabindex="1" class="layoutOptions option" name="ad_slot_two">
                <option value="ad_slot_two">Ad Slot Two</option>
                <option value="half-page-unit">HPU - 600x300</option>
                <option value="mid-page-unit">MPU - 300x250</option>
            </select>


      </div>
    </section> -->
  <span class="ad-slot-label"><a href="#">Advertisement</a></span>
  <div class="mpu--image">
   <div class="mpu--image" style="background-image: url({{image}});">
  </div>
  <!-- <img class="image {{classes}}" src="" alt="" height="" width="" /> -->
</aside>
{{/if}}
