
<div class="nav-top news {{classes}}">

  <header class="global-header" data-istats-container="header">
    <div class="global-header__wrap">
      <a class="global-header__logo" data-istats-container="sport-logo" href="/">
      <span class="global-header__font-icon"></span>
      <span class="ico ico-sport global-header__image-icon"></span>
      <span class="vh">BBC</span>

      <span class="global-header__sport-text">News</span>

      <span class="vh"> Home Page </span></a>




      <span class="global-header__all-sports-button button" >
        <span class="ico ico-burger global-header__burger"></span>
        <a href="#" class="global-header__all-sports-text btn-open"><span class="btn-text">More News</span></a>
        <span class="global-header__acc-all-sports-enhanced vh">More News menu</span>
      </span>


  <!-- <div class="find-local-wide location-london" id="find-local-wide">
      <button class="find-local-wide__link find-local-wide__link--icon-only"><span>Find local news<span></button>
  </div> -->



    </div>
  </header>


<!-- PRIMARY -->
  <nav class="primary-nav" data-istats-container="primary-nav">
    <div class="primary-nav__items-wrap">
      <ul class="primary-nav__items">
        <!-- <li class="primary-nav__item primary-nav__item--pinned primary-nav__item--all-sports primary-nav__item--with-icon">
        <a class="has-no-touch primary-nav__link" data-anijs="if: click, do: $removeClass no-touch, to: .no-touch;
        if: click, do: $addClass touch, to: html;
        " class="primary-nav__link" href="#"><span class=
        "ico ico-burger primary-nav__item-icon"></span><span class=
        "primary-nav__link-text">Touch On</span></a>

        <a class="has-touch primary-nav__link" data-anijs="if: click, do: $removeClass touch, to: .touch;
          if: click, do: $addClass no-touch, to: html;
          " class="primary-nav__link" href="#"><span class=
          "ico ico-burger primary-nav__item-icon"></span><span class=
          "primary-nav__link-text">Touch Off</span></a>



        </li> -->

        <li class="primary-nav__item primary-nav__item--pinned primary-nav__item--all-sports primary-nav__item--with-icon">

          <div class="button primary-nav__link">
            <a class="more-btn btn-open" href="#"><span class="btn-text">More</span></a>
          </div>

      </li>




       <li class=" primary-nav__item primary-nav__item--active primary-nav__item--not-full-highlight primary-nav__item--first">
          <a class="primary-nav__link" href="index.html"><span class=
          "primary-nav__link-text">Home</span></a>
        </li>

        <li alt="Trafalgar" class="primary-nav__item gel-type-switch02">
          <a alt="Trafalgar"  class="primary-nav__link" href="http://www.bbc.com/news/video_and_audio/headlines"><span class=
          "primary-nav__link-text">Video</span></a>
        </li>

        <li alt="Trafalgar & Double Pica" class=" primary-nav__item ">
          <a alt="Trafalgar & Double Pica"  class="primary-nav__link" href="http://www.bbc.com/news/world"><span class=
          "primary-nav__link-text">World</span></a>
        </li>
        <li class="primary-nav__item">
           <a alt="Grid" class="primary-nav__link" href="http://www.bbc.com/news/world/us_and_canada"><span class=
           "primary-nav__link-text">US & Canada</span></a>
         </li>


        <li class=" primary-nav__item">
          <a data-anijs="if: click, do: $toggleClass bbccom_hpu, to: .boron--wrap;
          if: click, do: $toggleClass bbccom_mpu, to: .boron--wrap;" class="primary-nav__link" href="http://www.bbc.com/news/uk"><span class=
          "primary-nav__link-text">UK</span></a>
        </li>

        <li class=" primary-nav__item">
          <a class="primary-nav__link" href="http://www.bbc.com/news/business"><span class=
          "primary-nav__link-text">Business</span></a>
        </li>

      <li class=" primary-nav__item">
          <a class="primary-nav__link" href="http://www.bbc.com/news/technology"><span class=
          "primary-nav__link-text">Tech</span></a>
        </li>

        <li class=" primary-nav__item">
          <a class="primary-nav__link" href="http://www.bbc.com/news/science_and_environment"><span class=
          "primary-nav__link-text">Science</span></a>
        </li>

        <li class=" primary-nav__item">
          <a class="primary-nav__link" href="http://www.bbc.com/news/magazine"><span class=
          "primary-nav__link-text">Magazine</span></a>
        </li>
        <li class=" primary-nav__item">
          <a class="primary-nav__link" href="http://www.bbc.com/news/entertainment_and_arts"><span class=
          "primary-nav__link-text">Entertainment & Arts</span></a>
        </li>
         <li class=" primary-nav__item">
          <a class="primary-nav__link" href="http://www.bbc.com/news/health"><span class=
          "primary-nav__link-text">Health</span></a>
        </li>
        <li class=" primary-nav__item">
         <a class="primary-nav__link" href="http://www.bbc.com/news/in_pictures"><span class=
         "primary-nav__link-text">In Pictures</span></a>
       </li>
       <li class=" primary-nav__item">
        <a class="primary-nav__link" href="http://www.bbc.com/news/special_reports"><span class=
        "primary-nav__link-text">Special Reports</span></a>
      </li>
      <li class=" primary-nav__item">
       <a class="primary-nav__link" href="http://www.bbc.com/news/explainers"><span class=
       "primary-nav__link-text">Explainers</span></a>
     </li>
      </ul>
    </div><a class="primary-nav__acc-open-close-primary-nav-flyout vh" href=
    "javascript:void(0);">More News menu</a>
  </nav>

  <div class="primary-nav-flyout__relative-wrapper">
    <nav class="primary-nav-flyout" data-istats-container="primary-nav-flyout">
      <div class="primary-nav-flyout__wrap clearfix">
        <div class=
        " primary-nav-flyout__section primary-nav-flyout__section--open primary-nav-flyout__section--contains-only-primaries">
        <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href="/sport"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">BBC Sport Home</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/football"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Football</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/formula1"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Formula 1</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/cricket"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Cricket</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/rugby-union"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Rugby Union</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/rugby-league"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Rugby League</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/tennis"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Tennis</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/golf"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Golf</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/athletics"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Athletics</span></span></a>
            </li>
          </ul>
        </div>

        <div class=
        " primary-nav-flyout__section primary-nav-flyout__section--main-section">
        <h3 class="primary-nav-flyout__section-title" tabindex="0">
          <span class="primary-nav-flyout__acc-section-title-open-close-text vh">
          Open</span> <span class="primary-nav-flyout__section-title-text">A-Z
          Sports</span> <span class=
          "ico primary-nav-flyout__chevron ico-chevron-down"></span>
          <span class=
          "primary-nav-flyout__acc-section-title-menu-text vh">sub-menu</span></h3>

          <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/athletics"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Athletics</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/boxing"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Boxing</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/cricket"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Cricket</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/cycling"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Cycling</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/disability-sport"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Disability
              Sport</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/football"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Football</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/formula1"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Formula 1</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/northern-ireland/gaelic-games"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Gaelic Games</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/golf"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Golf</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/horse-racing"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Horse Racing</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/motorsport"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Motorsport</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/olympics"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Olympic Sports</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/rugby-league"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Rugby League</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/rugby-union"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Rugby Union</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/snooker"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Snooker</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/swimming"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Swimming</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/tennis"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Tennis</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/winter-sports"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Winter Sports</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/all-sports"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Full Sports A-Z</span></span></a>
            </li>
          </ul><a class="primary-nav-flyout__acc-section-bottom-close vh" href=
          "javascript:void(0);">Close A-Z Sports sub-menu</a>
        </div>

        <div class=" primary-nav-flyout__section">
          <h3 class="primary-nav-flyout__section-title" tabindex="0">
          <span class=
          "primary-nav-flyout__acc-section-title-open-close-text vh">Open</span>
          <span class="primary-nav-flyout__section-title-text">Events</span>
          <span class=
          "ico primary-nav-flyout__chevron ico-chevron-down"></span>
          <span class=
          "primary-nav-flyout__acc-section-title-menu-text vh">sub-menu</span></h3>

          <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/commonwealth-games/2014"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Glasgow 2014</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/football/world-cup/2014"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">World Cup 2014</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/sports-personality"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Sports
              Personality</span></span></a>
            </li>
          </ul><a class="primary-nav-flyout__acc-section-bottom-close vh" href=
          "javascript:void(0);">Close Events sub-menu</a>
        </div>

        <div class=" primary-nav-flyout__section">
          <h3 class="primary-nav-flyout__section-title" tabindex="0">
          <span class=
          "primary-nav-flyout__acc-section-title-open-close-text vh">Open</span>
          <span class="primary-nav-flyout__section-title-text">Around the
          UK</span> <span class=
          "ico primary-nav-flyout__chevron ico-chevron-down"></span>
          <span class=
          "primary-nav-flyout__acc-section-title-menu-text vh">sub-menu</span></h3>

          <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/england"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">England</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/scotland"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Scotland</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/wales"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Wales</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/northern-ireland"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Northern
              Ireland</span></span></a>
            </li>
          </ul><a class="primary-nav-flyout__acc-section-bottom-close vh" href=
          "javascript:void(0);">Close Around the UK sub-menu</a>
        </div>

        <div class=" primary-nav-flyout__section">
          <a class=
          "primary-nav-flyout__section-title primary-nav-flyout__section-title--link"
          href="/iplayer/tv/categories/sport"><span class=
          "primary-nav-flyout__acc-section-title-open-close-text vh">Open</span>
          <span class=
          "primary-nav-flyout__section-title-text">Programmes<span class=
          "ico primary-nav-flyout__chevron-right ico-chevron-right-thin"></span></span>
          <span class=
          "ico primary-nav-flyout__chevron ico-chevron-down"></span>
          <span class=
          "primary-nav-flyout__acc-section-title-menu-text vh">sub-menu</span></a>

          <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/programmes/b007t9y1"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Match of the
              Day</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/5live/programmes/genres/sport/current"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">5 Live Sport</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/17151954"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Sport on the
              BBC</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/get-inspired"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Get Inspired</span></span></a>
            </li>

            <li class=
            "primary-nav-flyout__item primary-nav-flyout__item--section-title-replica-link">
            <a class="primary-nav-flyout__link" href=
            "/iplayer/tv/categories/sport"><span class=
            "primary-nav-flyout__link-text">All Programmes</span></a>
            </li>
          </ul><a class="primary-nav-flyout__acc-section-bottom-close vh" href=
          "javascript:void(0);">Close Programmes sub-menu</a>
        </div>
      </div><a class="primary-nav-flyout__acc-close-flyout vh" href=
      "javascript:void(0);">Close All Sport menu</a>
    </nav>
  </div>



    {{ organism "global_menu" "global_menu" }}
</div>
