<div class="modal is-active">
  <div class="modal__header">
    <div class="inner">
      <p class="gel-long-primer"><strong>NOTE:</strong> This prototype, is a concept for the News front-page. It is constantly evolving and being iterated upon. Some sections are experimental and others are pending sign-off.</p>
      <p class="gel-long-primer">The final build will strictly follow the GEL standards and accessibility guidelines. Please, keep in mind that things might not end up looking exactly like the prototype. Contact a member of the News UX team for more details.</p>
      <p class="gel-long-primer">To access the prototype email dario.ramalho@bbc.co.uk to request login details</p>
    </div>
  </div>

  <div class="modal__footer">
    <div class="inner">

      <form class="pure-form pure-form-stacked" name="keeperform" action="javascript:gateKeeper();" style="margin:0;">
              <fieldset id="keeperblock">

                  <input type="text" name="keeperuser" id="ku" placeholder="Username">
                  <input type="password" name="keeperpass" id="kp" placeholder="Password" placeholder="Password">

                  <label for="remember" id="ksp" class="pure-checkbox">
                      <input id="remember" type="checkbox" name="keepersave" id="ks"> Remember me
                  </label>

                  <button type="submit" class="pure-button pure-button-primary" id="kb">Sign in</button>
                  <noscript><div id="kns"><br>Javascript is required to access this<br>area.
                   Yours seems to be disabled.</div></noscript>
              </fieldset>
          </form><script type="text/javascript">loadKeeperForm();</script>
    </div>
  </div>


</div>
