

{{#if image}}
<div class="advert-container">
    <aside class="advert ad_slot_three">
    <span class="ad-slot-label"><a href="#">Advertisement</a></span>
    <div class="mpu--image">
    <!-- <div class="mpu--image" style="background-image: url({{image}});"> -->
    </div>
    <!-- <img class="image {{classes}}" src="" alt="" height="" width="" /> -->
  </aside>
</div>
{{/if}}
