@charset "UTF-8";

@import 'collider/collider';
@import 'matter/index';

/**
 * USER PROJECT STYLES
 */

 // _style.scss
 //

 // Import any of your Sass dependencies below.
 // @import ''; ...

 // Add your (non-Matter) project styles below.
 // body {}, etc

 html{
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

 }
 h2{margin: 0;}
 ul{ padding: 0;margin: 0;}

 @font-face {
     font-family: 'custom-symbols';
     src:
         url('../assets/fonts/custom-symbols.ttf?dyqs3i') format('truetype'),
         url('../assets/fonts/custom-symbols.woff?dyqs3i') format('woff'),
         url('../assets/fonts/custom-symbols.svg?dyqs3i#custom-symbols') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 [class^="icon-"], [class*=" icon-"] {
     /* use !important to prevent issues with browser extensions that change fonts */

     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;

     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 .icon-hamburger:before {
     content: "\e900";
 }
 .icon-single-line:before {
     content: "\e904";
 }
 .icon-double-line_v3:before {
     content: "\e902";
 }
 .icon-double-line_v2:before {
     content: "\e903";
 }
 .icon-double-pipe:before {
     content: "\e905";
 }
 .icon-double-slash:before {
     content: "\e906";
 }
 .icon-no:before {
     content: "\e901";
 }

  #orb-footer{
    margin-top: 98px;
  }
