
/*------------------------------------*\
    # visability
\*------------------------------------*/

 %v-u-hidden,
 .v-u-hidden {
  display: none !important;
  visibility: hidden;
}

@include mq($from:gel-bp-xs, $until:gel-bp-s) {
  .v-u-hidden\@xs{
  display: none !important;
  visibility: hidden;
  }
}

@include mq($from:gel-bp-s, $until:gel-bp-m) {
  .v-u-hidden\@s{
  display: none !important;
  visibility: hidden;
  }
}

@include mq($from:gel-bp-m, $until:gel-bp-l) {
  .v-u-hidden\@m{
  display: none !important;
  visibility: hidden;
  }
}
@include mq($from:gel-bp-l, $until:gel-bp-xxl) {
  .v-u-hidden\@l{
  display: none !important;
  visibility: hidden;
  }
}
@include mq($from:gel-bp-xxl) {
  .v-u-hidden\@xxl{
  display: none !important;
  visibility: hidden;
  }
}

/*------------------------------------*\
    # visable
\*------------------------------------*/
 div[class^="v-u-visible"], div[class*=" v-u-visible"]{
  display: none !important;
  visibility: hidden;
}

@include mq($from:gel-bp-m, $until:gel-bp-l) {
.gel-layout__item .v-u-visible\@m{
  display: inherit !important;
  visibility: visible;
  }
}
