/*------------------------------------*\
    # GENERAL LINKS
\*------------------------------------*/

 a.title-link,.section-name-trunc{
	color:$link;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: $link-hover;
	  border-bottom: 1px solid;
	}
}
.stripenav a{
	color:$link;
}
.mostpop__list-item-link .mostpop__list-item-headline{
	color:$link;

	&:hover{
		text-decoration: none;
		color: $link-hover;
	}
}
.at-links-faux-block-link--hover{
.promo__headline a.title-link {
		color:$link;
		text-decoration: none;
		color: $link-hover;
	  border-bottom: 1px solid;
}
}


a.at-links-faux-block-link__overlay:hover{
	border-bottom: 0;
}
.title-link:visited .title-link__title-text {
    //  color: $visited-link;
}

.promo--feature__standard--opt1 .title-link:visited .title-link__title-text {
     color: #fff;
}

/*------------------------------------*\
    # NESTED LINKS LINK
\*------------------------------------*/

.at-links-nested-link {
    position: relative;
    z-index: 1;
}
