.pseudo-nav{
  padding-bottom: 24px;
  &.has-maxim{
    padding-bottom: 0px;
  }
  @include mq($from:gel-bp-xs, $until:gel-bp-m ) {
    display: none;
  }
}
.nations-pseudo-nav {
    height: 35px;
    visibility: visible;
    margin-left: -8px;
}

.nations-pseudo-nav__list-item {
    display: inline-block;
    padding-top: 10px;
}

.nations-pseudo-nav__link {
    border-bottom: 4px solid #fff;
    padding: 10px 0 4px;
}

.nations-pseudo-nav__list-item:first-child>.nations-pseudo-nav__link>.nations-pseudo-nav__link-inner {
    padding-left: 8px;
}

.nations-pseudo-nav__link-inner {
    border-right: 1px solid #dcdcdc;
    color: #222;
    line-height: 17px;
    padding: 0 12px;
    font-size: 14px;
}

.nations-pseudo-nav__list-item:last-child>.nations-pseudo-nav__link>.nations-pseudo-nav__link-inner {
    border-right: 0;
}

.nations-pseudo-nav__link:hover, .nations-pseudo-nav__link:focus {
    border-color: #bb1919;
}
