<section class="pseudo-nav {{classes}}">
  <div class="gel-wrap">
    <div class="gel-layout">
      <div class="gel-layout__item">

        <nav id="nations-pseudo-nav" class="nations-pseudo-nav" role="navigation" aria-label="Nations">
            <ul class="nations-pseudo-nav__list">
                <li class="nations-pseudo-nav__list-item"><a class="nations-pseudo-nav__link" href="/news/england"><span class="nations-pseudo-nav__link-inner">England</span></a></li>
                <li class="nations-pseudo-nav__list-item"><a class="nations-pseudo-nav__link" href="/news/northern_ireland"><span class="nations-pseudo-nav__link-inner">N. Ireland</span></a></li>
                <li class="nations-pseudo-nav__list-item"><a class="nations-pseudo-nav__link" href="/news/scotland"><span class="nations-pseudo-nav__link-inner">Scotland</span></a></li>
                <li class="nations-pseudo-nav__list-item"><a class="nations-pseudo-nav__link" href="/naidheachdan"><span class="nations-pseudo-nav__link-inner">Alba</span></a></li>
                <li class="nations-pseudo-nav__list-item"><a class="nations-pseudo-nav__link" href="/news/wales"><span class="nations-pseudo-nav__link-inner">Wales</span></a></li>
                <li class="nations-pseudo-nav__list-item"><a class="nations-pseudo-nav__link" href="/cymrufyw"><span class="nations-pseudo-nav__link-inner">Cymru</span></a></li>
            </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
