.has-contributor{
  .promo__body{
    padding-bottom: 0;
  }
}
.promo__headline, .promo__summary {
  & + .contributor {
    margin-top: $gel-spacing-unit * 2;

  }
}

.contributor + .metadata{
  display: none;
}

.contributor {
  display: table;
  width: 100%;
}
  .contributor__avatar {
    padding-left: 12px;

    > img {
      display: block;
      max-width: none;
    }
  }
  .contributor__body {
    width: 100%;
  }

  .contributor__avatar,
  .contributor__body {
    display: table-cell;
    vertical-align:bottom;
  }
    .contributor__name {
      // font-family: georgia;
      color: $contributor-name;

      font-size: 16px; line-height: 20px;
    }
    .contributor__title {
      @include gel-typography('brevier');
      font-weight: 200;
      color: $summary-copy;
    }

    .contributor__name,
    .contributor__title {
      display: block;
    }
