 .primary-nav__link-text {
      -webkit-font-smoothing: subpixel-antialiased;
     }
// .global-header__font-icon {
//     -webkit-font-smoothing: antialiased;
// }
// .news .global-header__font-icon{
//      -webkit-font-smoothing: antialiased;
// }
// .news .global-header__sport-text {
//     -webkit-font-smoothing: antialiased;
// }
@include mq($from:gel-bp-m ) {
  .find-local-wide {
      padding-right: 16px;
      color: #fff;
      display: block;
      float: right;
      font-size: 18px;
      line-height: 1.68421;
      margin-top: 13px;
        -webkit-font-smoothing: subpixel-antialiased;
  }
  .find-local-wide__link {
    background: url("../assets/icons/news--icons-sprite.png") no-repeat right -5900px;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 30px;

}
  .find-local-wide__location, .find-local-wide__link {
      display: inline-block;
      vertical-align: middle;
  }
  .find-local-wide__link {
    border: 1px solid #d03838;
}
}

.touch .has-touch{
  display: block;
  background-color: #e01b1b;
}

.no-touch .has-touch{
  display: none !important;
}

.ico-burger{
  display: none;
}

.gel-typography-trafalgar{
  .gel-type-switch02{
    a{
      border-bottom: 3px solid #ffa723;
    }
  }
}

.gel-typography-default{
  .gel-type-switch01{
    a{
      border-bottom: 3px solid #ffa723;
    }
  }
}

.no-touch .has-no-touch{
  display: block;
  background-color: #222;
}

.touch .has-no-touch{
  display: none !important;
}



.news .global-header__logo:focus,
.news .global-header__logo:visited,
.news .global-header__logo:active,
.news .global-header__logo:hover {
    color: #fff;
}



.news .global-header__all-sports-button {
    background-color: #BB1919;
    border: 1px solid #D03838;
  }

@media (min-width: 15em) {
 .news .global-header__all-sports-button--active {
        background: #121212;
        color: #fff;
        border: 1px solid #121212;
    }
}


@media (min-width: 37.5em){
.news .primary-nav {
    background-color: #BB1919;
    border-top: 1px solid #BB1919;
}
}
@media (min-width: 37.5em) {
  .news .primary-nav__link-text {
        border-left: 0px solid #D03838;
    }
  .news .primary-nav__link {
        color: #ffffff;
    }
  .news .primary-nav__item--full-highlight {
        background: #121212;
    }
  .news .primary-nav__item--full-highlight .primary-nav__link {
        color: #fff;
    }
  .news .primary-nav__item--full-highlight .primary-nav__link-text {
        border-left: 1px solid transparent;
    }
  .news .primary-nav__item--full-highlight+.primary-nav__item .primary-nav__link-text {
        border-left: 1px solid transparent;
    }
  .news .primary-nav__item--not-full-highlight .primary-nav__link {
        border-bottom: 4px solid #fff;
    }
  .news .primary-nav__item--pinned {
        display: block;
        border-left: 0px solid #D03838;
    }
  .news .primary-nav__link:hover {
        border-bottom: 4px solid #ffffff;
    }
}



/* Temp localised resetting */

.primary-nav__items,
.secondary-nav__items {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}



.global-header a,
.primary-nav__items a,
.secondary-nav__items a {
  text-decoration: none;
}





/* Global header */


.global-header {
    background-color: #bb1919;
    position: relative;
}
@media (min-width: 15em) {
    .global-header {
        z-index: 204;
    }
}
@media (min-width: 56.25em) {
    .global-header__wrap {
        max-width: 1008px;
        margin: 0 auto;
        position: relative;
    }
}

@media (min-width: 80em) {
    .global-header__wrap {
        max-width:1280px;
    }
}

.global-header__logo {
    display: inline-block;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}
@media (min-width: 15em) {
    .global-header__logo {
        color: #fff;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
@media (min-width: 25em) {
    .global-header__logo {
        margin-left: 16px;
    }
}
.global-header__logo:focus,
.global-header__logo:visited,
.global-header__logo:active,
.global-header__logo:hover {
    color: #fff;
    text-decoration: none;
}
.global-header__font-icon {
    display: none;
}
@media (min-width: 15em) {
    .font-face .global-header__font-icon {
        display: inline-block;
        font-family: 'bbc-sport';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 1.625rem;
        line-height: 2.5rem;
        -webkit-font-smoothing: antialiased;
    }
}
@media (min-width: 37.5em) {
    .font-face .global-header__font-icon {
        font-size: 1.8125rem;
        line-height: 2.875rem;
    }
}
.global-header__beta {
    display: inline-block;
    margin-top: 0.75rem;
    margin-right: 8px;
    vertical-align: top;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1rem;
}
.global-header__all-sports-button {
    background-color: #ffdf43;
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -1.1875rem;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #c6af36;
    color: #fff;
}
@media (min-width: 15em) {
    .touch .global-header__all-sports-button {
        padding-top: 0.4375rem;
        padding-bottom: 0.4375rem;
    }
}
@media (min-width: 25em) {
    .global-header__all-sports-button {
        right: 16px;
    }
}
@media (min-width: 37.5em) {
    .global-header__all-sports-button {
        display: none;
    }
}
.global-header__all-sports-text {
    font-size: 0.9375rem;
    line-height: 1.25rem
}
.touch .global-header__all-sports-text {
    font-size: 1rem;
    line-height: 1.375rem;
}
@media (min-width: 15em) {
    .global-header__all-sports-button--active {
        background: #121212;
        color: #fff;
        padding-right: 16px;
        padding-bottom: 1.0625rem;
        right: 0;
        border: 1px solid #121212;
    }
    .touch .global-header__all-sports-button--active {
        padding-bottom: 1rem
    }
}
@media (min-width: 25em) {
    .global-header__all-sports-button--active {
        right: 0;
        padding-right: 24px;
    }
}
.global-header__burger {
    position: relative;
    top: 1px;
    margin-right: 8px;
}
@media (min-width: 15em) {
    .global-header__burger {
        top: 0;
    }
}
@media (min-width: 15em) {
    .font-face .global-header__burger:before {
        position: absolute;
        top: -2px;
    }
}
@media (min-width: 15em) {
    .global-header__image-icon {
        display: none;
    }
}
.global-header__sport-text {
    display: none;
}
@media (min-width: 15em) {
    .global-header__sport-text {
        font-family: 'Gill Sans MT', 'Gill Sans', Calibri, sans-serif;
        font-size: 2.5rem;
        line-height: 2.5rem;
        text-transform: uppercase;
        display: block;
        -moz-osx-font-smoothing: grayscale;
    }
}
@media (min-width: 37.5em) {
    .global-header__sport-text {
        font-size: 2.75rem;
        line-height: 2.875rem;
    }
}
.global-header__section {
    display: none;
}
@media (min-width: 37.5em) {
    .global-header__section {
        display: inline-block;
        font-size: 1.75rem;
        line-height: 1.75rem;
        text-transform: uppercase;
        color: #121212;
        font-family: 'Gill Sans MT', 'Gill Sans', Calibri, sans-serif;
    }
    .font-face .global-header__section {
        position: relative;
        top: 2px;
    }
    .global-header__section:focus,
    .global-header__section:visited,
    .global-header__section:active,
    .global-header__section:hover {
        color: #121212;
        text-decoration: none;
    }
    .ie7 .global-header__section {
        position: relative;
        top: -16px
    }
}
.global-header__branding {
    display: none;
}
@media (min-width: 37.5em) {
    .global-header__trademark {
        position: absolute;
        top: 4px;
        right: -14px;
        font-size: 0.75rem;
        line-height: 0.75rem;
    }
}












.nav-top,
.nav-bottom {
    max-width: 1008px;
    margin: 0 auto;
    position: relative;
}
@media (min-width: 56.25em) {
    .nav-top,
    .nav-bottom {
        max-width: none;
    }
}

@media (min-width: 56.25em) {
    .nav-top--not-full-width,.nav-bottom--not-full-width {
        max-width:1280px;
        margin: 0 auto;
    }
}

.nav-top__sponsorship {
    display: none;
}
@media (min-width: 37.5em) {
    .nav-top__sponsorship {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;
    }
}
@media (min-width: 56.25em) {
    .nav-top--not-full-width,
    .nav-bottom--not-full-width {
        max-width: 1008px;
    }
}
.app .nav-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2147483599;
}
.nav-top--hidden {
    display: none;
}
.app .nav-top__space-saver {
    position: relative;
    background-color: #121212;
    height: 32px;
}
.app.touch .nav-top__space-saver {
    height: 40px;
}

















.primary-nav {
    display: none
}
@media (min-width: 37.5em) {
    .primary-nav {
        background-color: #ffdf43;
        border-top: 1px solid #c6af36;
        line-height: 0;
        position: relative;
        display: block;
        z-index: 204;
    }
}
@media (min-width: 37.5em) {
    .primary-nav__items {
        height: 32px;
        display: block;
        overflow: hidden;
        padding-left: 12px;
        padding-right: 12px
    }
    .primary-nav__item {
        display: block;
        float: left
    }
    .primary-nav__item--pinned {
        float: right
    }
    .primary-nav__link {
        color: #121212;
        display: block;
        height: 32px;
        padding-top: 4px;
    }
    .primary-nav__link:active,
    .primary-nav__link:hover {
        border-bottom: 4px solid #121212
    }
    .primary-nav__link-text {
        display: block;
        padding-left: 12px;
        padding-right: 12px;
        border-left: 1px solid #c6af36;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        font-weight: normal;
    }
    .touch .primary-nav__link-text {
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: normal
    }
    .primary-nav__item--full-highlight {
        background: #121212
    }
    .primary-nav__item--full-highlight .primary-nav__link {
        color: #fff
    }
    .primary-nav__item--full-highlight .primary-nav__link-text {
        border-left: 1px solid transparent
    }
    .primary-nav__item--full-highlight+.primary-nav__item .primary-nav__link-text {
        border-left: 1px solid transparent
    }
    .primary-nav__item--not-full-highlight .primary-nav__link {
        border-bottom: 4px solid #121212
    }
    .primary-nav__item--pinned {
        display: block;
        float: right;
        border-left: 1px solid #c6af36
    }
    .primary-nav__item--pinned .primary-nav__link-text {
        border-left: none !important
    }
    .primary-nav__item--first .primary-nav__link-text {
        border-left: none !important
    }
    .primary-nav__item--with-icon .primary-nav__item-icon {
        margin-left: 8px
    }
    .primary-nav__item--with-icon .primary-nav__item-icon:before {
        position: absolute;
        margin-top: -0.0625rem
    }
    .primary-nav__item--with-icon .primary-nav__link-text {
        display: inline-block
    }
    .ie7 .primary-nav__item--all-sports * {
        cursor: pointer
    }
    .primary-nav__item--all-sports .primary-nav__link:active,
    .primary-nav__item--all-sports .primary-nav__link:hover {
        background: #121212;
        border-bottom: 0;
        color: #fff
    }
    .touch .primary-nav__items {
        height: 40px
    }
    .touch .primary-nav__link {
        height: 40px;
        padding-top: 0.5625rem
    }
}
@media (min-width: 56.25em) {
    .primary-nav__items-wrap {
        max-width: 1008px;
        margin: 0 auto
    }
}

@media (min-width: 80em) {
    .primary-nav__items-wrap {
        max-width:1280px
    }
}

.primary-nav-flyout {
    display: none;
    display: block;
    position: relative;
    width: 100%;
    background: #121212;
    z-index: 203;
    line-height: 0;
    white-space: nowrap;
    border-bottom: 4px solid #ffdf43
}
.primary-nav-flyout__relative-wrapper {
    position: relative;
    display: none
}
.primary-nav-flyout__acc-section-bottom-close {
    display: none
}
.primary-nav-flyout__wrap {
    position: relative;
    z-index: 1
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__wrap {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}
@media (min-width: 56.25em) {
    .primary-nav-flyout__wrap {
        max-width: 1008px;
        margin: 0 auto;
    }
}
.primary-nav-flyout__items {
    display: none
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__items {
        display: block;
    }
}
.primary-nav-flyout__section-title-text,
.primary-nav-flyout__link-text {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}
.touch .primary-nav-flyout__section-title-text,
.touch .primary-nav-flyout__link-text {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: normal
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__section-title-text,
    .primary-nav-flyout__link-text {
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (max-width: 37.49em) {
    .primary-nav-flyout__section--open .primary-nav-flyout__section-title {
        color: #ffdf43
    }
}
.primary-nav-flyout__item {
    display: block
}
.primary-nav-flyout__section-title,
.primary-nav-flyout__item {
    border-bottom: 1px solid #333
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__section-title,
    .primary-nav-flyout__item {
        border-bottom: none !important;
    }
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__section--contains-only-primaries {
        display: none;
    }
}
.primary-nav-flyout__section--contains-only-primaries .primary-nav-flyout__item {
    border-bottom: 1px solid #222
}
.primary-nav-flyout__section:last-child .primary-nav-flyout__section-title {
    border-bottom: 0
}
.primary-nav-flyout__section:last-child.primary-nav-flyout__section--open .primary-nav-flyout__section-title {
    border-bottom: 1px solid #333
}
.primary-nav-flyout__section:last-child .primary-nav-flyout__item:last-child {
    border-bottom: 0
}
.primary-nav-flyout__link-wrapper {
    display: block
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__link-wrapper {
        border-right: 1px solid #5a5a5a;
        margin-right: 8px;
    }
    .primary-nav-flyout__item--last-column .primary-nav-flyout__link-wrapper {
        border-right: 1px solid #121212
    }
}
.primary-nav-flyout__item--active {
    border-left: 4px solid #ffdf43
}
.primary-nav-flyout__item--active .primary-nav-flyout__link-text {
    padding-left: 4px
}
.primary-nav-flyout__link {
    display: block;
    color: #fff
}
@media (max-width: 37.49em) {
    .primary-nav-flyout__link:active,
    .primary-nav-flyout__link:hover {
        background: #333
    }
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__link .primary-nav-flyout__link-text:hover,
    .primary-nav-flyout__link .primary-nav-flyout__link-text:active {
        background: #333
    }
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__link-text {
        margin-right: 8px;
    }
}
.primary-nav-flyout__section-title-text,
.primary-nav-flyout__link-text {
    padding-left: 8px;
    padding-right: 8px
}
.primary-nav-flyout__section-title-text {
    padding-right: 29px
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__section-title-text {
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: normal;
    }
    .touch .primary-nav-flyout__section-title-text {
        font-size: 1.25rem;
        line-height: 1.625rem;
        font-weight: normal
    }
}
.primary-nav-flyout__section-title {
    display: block;
    margin: 0 !important;
    background: #212121;
    color: #fff;
    cursor: pointer;
    position: relative
}
@media (max-width: 37.49em) {
    .primary-nav-flyout__section-title:active,
    .primary-nav-flyout__section-title:hover {
        color: #ffdf43
    }
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__section-title {
        background: none;
        cursor: auto;
    }
}
.primary-nav-flyout__section-title+.primary-nav-flyout__items {
    background: #212121
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__section-title+.primary-nav-flyout__items {
        background: none;
    }
}
.primary-nav-flyout__section-title+.primary-nav-flyout__items .primary-nav-flyout__link {
    padding-left: 8px
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__section-title+.primary-nav-flyout__items .primary-nav-flyout__link {
        padding-left: 0;
    }
}
.primary-nav-flyout__chevron-right {
    display: none
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__chevron-right {
        display: inline-block;
        margin-left: 8px;
        color: #ffdf43;
        position: relative;
    }
    .primary-nav-flyout__chevron-right:before {
        position: absolute;
        left: -4px;
        top: -2px
    }
}
.primary-nav-flyout__chevron {
    position: absolute;
    top: 50%;
    margin-top: -0.375rem;
    right: 8px
}
.primary-nav-flyout__section--open .primary-nav-flyout__acc-section-bottom-close,
.primary-nav-flyout__section--open .primary-nav-flyout__items {
    display: block
}
.primary-nav-flyout__section--open .primary-nav-flyout__chevron,
.primary-nav-flyout__section--open .primary-nav-flyout__chevron:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
.font-face .primary-nav-flyout__chevron:before {
    font-size: 0.875rem !important;
    position: relative;
    top: -2px
}
.touch .primary-nav-flyout__section-title-text,
.touch .primary-nav-flyout__link-text {
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem
}
@media (min-width: 25em) {
    .primary-nav-flyout__section-title-text,
    .primary-nav-flyout__link-text {
        padding-left: 16px;
        padding-right: 16px
    }
    .primary-nav-flyout__section-title-text {
        padding-right: 37px
    }
    .primary-nav-flyout__item--active .primary-nav-flyout__link-text {
        padding-left: 12px
    }
    .primary-nav-flyout__chevron {
        right: 16px
    }
}
@media (min-width: 37.5em) {
    .primary-nav-flyout__section-title-text,
    .primary-nav-flyout__link-text {
        padding-left: 8px;
        padding-right: 8px
    }
    .primary-nav-flyout__item--active .primary-nav-flyout__link-text {
        padding-left: 8px
    }
    .primary-nav-flyout__section {
        float: left;
        width: 25%
    }
    .primary-nav-flyout__section--main-section {
        width: 100%;
        border-bottom: 1px solid #5a5a5a;
        border-right: 0;
        padding-bottom: 1rem;
        margin-bottom: 0.5rem
    }
    .primary-nav-flyout__section--main-section .primary-nav-flyout__section-title {
        display: none
    }
    .primary-nav-flyout__section--main-section .primary-nav-flyout__items {
        width: 100%
    }
    .primary-nav-flyout__section--main-section .primary-nav-flyout__item {
        position: relative;
        width: 25%
    }
    .primary-nav-flyout__section-title--link:active,
    .primary-nav-flyout__section-title--link:hover {
        color: #ffdf43
    }
    .primary-nav-flyout__chevron,
    .primary-nav-flyout__item--section-title-replica-link,
    .primary-nav-flyout__acc-section-title-menu-text,
    .primary-nav-flyout__acc-section-title-open-close-text {
        display: none
    }
    .primary-nav-flyout__acc-section-bottom-close {
        display: none !important
    }
}
@media (min-width: 56.25em) {
    .primary-nav-flyout__section--main-section .primary-nav-flyout__item {
        width: 16.6666666667%
    }
    .primary-nav-flyout__section {
        width: 16.6666666667%
    }
    .primary-nav-flyout__section--main-section {
        width: 100%
    }
}




















.secondary-nav {
    background-color: #121212;
    line-height: 0;
    position: relative;
    z-index: 202
}
@media (min-width: 37.5em) {
    .secondary-nav {
        cursor: auto;
    }
}
.secondary-nav__item {
    display: none
}
.secondary-nav__item--lowest-crumb {
    display: block
}
.secondary-nav__item--lowest-crumb .secondary-nav__link {
    display: block;
    color: #fff;
    padding-left: 8px;
    padding-right: 30px;
    position: relative;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: normal
}
.touch .secondary-nav__item--lowest-crumb .secondary-nav__link {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: normal
}
.secondary-nav__item--lowest-crumb .secondary-nav__link-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.secondary-nav__chevron {
    display: block;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -0.375rem
}
.app .secondary-nav__chevron {
    right: 19px
}
@media (min-width: 37.5em) {
    .secondary-nav__chevron {
        display: none;
    }
}
.secondary-nav--has-shortcuts-or-items-or-more-than-one-crumb {
    cursor: pointer
}
.font-face .secondary-nav__chevron:before {
    position: relative;
    top: -6px;
    font-size: 0.8125rem;
    color: #fff
}
.font-face .secondary-nav--primary-nav-flyout-open .secondary-nav__chevron:before {
    color: #5a5a5a
}
.secondary-nav--flyout-open .secondary-nav__chevron,
.secondary-nav--flyout-open .secondary-nav__chevron:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}
.secondary-nav__item--lowest-crumb .secondary-nav__link {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: normal
}
.touch .secondary-nav__item--lowest-crumb .secondary-nav__link {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: normal
}
.touch .secondary-nav__item--lowest-crumb .secondary-nav__link {
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem
}
.touch.font-face .secondary-nav__chevron:before {
    top: -8px
}
.secondary-nav--primary-nav-flyout-open {
    background-color: #f1f1f1
}
.secondary-nav--primary-nav-flyout-open .secondary-nav__item--lowest-crumb .secondary-nav__link {
    color: #5a5a5a
}
@media (max-width: 56.24em) {
    .secondary-nav__items--shortcuts {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -0.0625rem;
        padding: 0;
        border: 0;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }
}
@media (min-width: 25em) {
    .secondary-nav__item--lowest-crumb .secondary-nav__link {
        padding-left: 16px;
        padding-right: 38px
    }
    .secondary-nav__chevron {
        right: 16px
    }
    .app .secondary-nav__chevron {
        right: 19px
    }
}
@media (min-width: 37.5em) {
    .secondary-nav__items-wrap {
        height: 32px;
        overflow: hidden;
        background: #121212
    }
    .secondary-nav__items-wrap--more-open {
        border-bottom: 1px solid #5a5a5a;
        height: 33px
    }
    .secondary-nav__items {
        height: 32px;
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        float: left
    }
    .secondary-nav__items--more-button-space-saver {
        padding-right: 71px
    }
    .secondary-nav__item {
        display: block;
        float: left
    }
    .secondary-nav__item--dynamic-crumb--showing-in-primary-nav {
        display: none
    }
    .secondary-nav__item--lowest-crumb .secondary-nav__link,
    .secondary-nav__link {
        display: block;
        color: #fff;
        height: 32px;
        padding-top: 0.375rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0
    }
    .ie7 .secondary-nav__item--lowest-crumb .secondary-nav__link,
    .ie7 .secondary-nav__link {
        height: 22px
    }
    .secondary-nav__item--lowest-crumb .secondary-nav__link:active,
    .secondary-nav__item--lowest-crumb .secondary-nav__link:hover,
    .secondary-nav__link:active,
    .secondary-nav__link:hover {
        border-bottom: 4px solid #ffdf43
    }
    .secondary-nav__item--lowest-crumb .secondary-nav__link,
    .secondary-nav__item--crumb .secondary-nav__link {
        padding-top: 0.25rem
    }
    .ie7 .secondary-nav__item--lowest-crumb .secondary-nav__link,
    .ie7 .secondary-nav__item--crumb .secondary-nav__link {
        height: 24px
    }
    .secondary-nav__item--crumb {
        position: relative;
        padding-right: 8px
    }
    .secondary-nav__item--crumb .secondary-nav__link-text {
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: normal;
        position: relative;
        overflow: visible;
        border-left: 0
    }
    .touch .secondary-nav__item--crumb .secondary-nav__link-text {
        font-size: 1.25rem;
        line-height: 1.625rem;
        font-weight: normal
    }
    .secondary-nav__item--crumb .secondary-nav__link-text:after {
        display: block;
        position: absolute;
        content: ''
    }
    .secondary-nav--no-items .secondary-nav__item--lowest-crumb .secondary-nav__link-text:after {
        display: none !important
    }
    .secondary-nav__link-text {
        display: block;
        padding-left: 8px;
        padding-right: 8px;
        border-left: 1px solid #5a5a5a;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        font-weight: normal
    }
    .touch .secondary-nav__link-text {
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: normal
    }
    .secondary-nav__item--first-non-crumb .secondary-nav__link-text {
        border-left: 0
    }
    .secondary-nav__item--active .secondary-nav__link {
        border-bottom: 4px solid #ffdf43
    }
    .secondary-nav__item--shortcut .secondary-nav__link-text {
        border-left: 2px solid #ffdf43
    }
    .secondary-nav__item--shortcut a.secondary-nav__link:active,
    .secondary-nav__item--shortcut a.secondary-nav__link:hover {
        border-bottom: 4px solid #fff
    }
    .secondary-nav__arrow-down {
        position: relative;
        top: 50%;
        margin-top: -1rem;
        margin-left: 8px;
        line-height: normal !important;
        vertical-align: middle
    }
    .secondary-nav__more-tab-border-blanker {
        display: none
    }
    .secondary-nav__item--more {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent
    }
    .secondary-nav__item--more--active {
        border-left: 1px solid #5a5a5a;
        border-right: 1px solid #5a5a5a
    }
    .secondary-nav__item--more--active .secondary-nav__link-text {
        border-left: 1px solid transparent
    }
    .secondary-nav__item--more--active .secondary-nav__more-tab-border-blanker {
        position: absolute;
        display: block;
        bottom: -2px;
        height: 3px;
        background: #121212
    }
    .font-face .secondary-nav__item--crumb .secondary-nav__link-text:after {
        content: '\e602';
        font-size: 1rem;
        color: #fff;
        height: auto;
        width: auto;
        top: 4px;
        right: -12px;
        font-family: 'bbc-sport';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        background: none
    }
    .touch .secondary-nav__items-wrap {
        height: 40px
    }
    .touch .secondary-nav__items {
        height: 40px
    }
    .touch .secondary-nav__item--lowest-crumb .secondary-nav__link,
    .touch .secondary-nav__link {
        height: 40px;
        padding-top: 0.5625rem
    }
    .touch .secondary-nav__item--lowest-crumb .secondary-nav__link,
    .touch .secondary-nav__item--crumb .secondary-nav__link {
        padding-top: 0.4375rem
    }
    .secondary-nav--primary-nav-flyout-open .secondary-nav__items-wrap {
        background: #f1f1f1
    }
    .secondary-nav--primary-nav-flyout-open .secondary-nav__item--lowest-crumb .secondary-nav__link,
    .secondary-nav--primary-nav-flyout-open .secondary-nav__link {
        color: #5a5a5a
    }
    .secondary-nav--primary-nav-flyout-open a.secondary-nav__item--lowest-crumb .secondary-nav__link:active,
    .secondary-nav--primary-nav-flyout-open a.secondary-nav__item--lowest-crumb .secondary-nav__link:hover,
    .secondary-nav--primary-nav-flyout-open a.secondary-nav__link:active,
    .secondary-nav--primary-nav-flyout-open a.secondary-nav__link:hover {
        border-bottom-color: #5a5a5a
    }
    .secondary-nav--primary-nav-flyout-open .secondary-nav__item--active .secondary-nav__link {
        border-bottom-color: #5a5a5a
    }
    .secondary-nav--primary-nav-flyout-open .secondary-nav__item--shortcut .secondary-nav__link-text {
        border-left-color: #dbdbdb
    }
    .secondary-nav--primary-nav-flyout-open .secondary-nav__item--shortcut a.secondary-nav__link:active,
    .secondary-nav--primary-nav-flyout-open .secondary-nav__item--shortcut a.secondary-nav__link:hover {
        border-bottom-color: #dbdbdb
    }
    .font-face .secondary-nav--primary-nav-flyout-open .secondary-nav__item--crumb .secondary-nav__link-text:after {
        color: #5a5a5a
    }
    .secondary-nav__acc-lowest-crumb-enhanced,
    .secondary-nav__acc-lowest-crumb-menu-text-enhanced {
        display: none
    }
}
@media (min-width: 56.25em) {
    .secondary-nav__items-wrap {
        max-width: 1008px;
        margin: 0 auto
    }
    .secondary-nav__items--shortcuts {
        display: block;
        float: right;
        padding-left: 0
    }
    .secondary-nav__items--more-button-space-saver {
        padding-right: 8px;
        max-width: 93%
    }
}

@media (min-width: 80em) {
    .secondary-nav__items-wrap {
        max-width:1280px
    }
}

.secondary-nav-more__relative-wrapper {
    display: none
}
@media (min-width: 37.5em) {
    .secondary-nav-more__relative-wrapper {
        position: relative;
    }
}
@media (min-width: 37.5em) {
    .secondary-nav-more {
        background: #121212;
        position: relative;
        width: 100%
    }
    .secondary-nav-more__wrap {
        position: relative
    }
    .secondary-nav-more__items {
        display: block;
        position: relative;
        padding-left: 16px;
        padding-right: 8px
    }
    .secondary-nav-more__item {
        display: block;
        float: left
    }
    .secondary-nav-more__link {
        display: block;
        color: #fff;
        height: 32px;
        padding-top: 0.375rem;
        padding-left: 0;
        padding-right: 0
    }
    .touch .secondary-nav-more__link {
        height: 40px;
        padding-top: 0.5625rem
    }
    .secondary-nav-more__link:active,
    .secondary-nav-more__link:hover {
        border-bottom: 4px solid #ffdf43
    }
    .secondary-nav-more__link-text {
        display: block;
        padding-right: 8px;
        padding-left: 8px;
        border-left: 1px solid #5a5a5a;
        font-size: 0.9375rem;
        line-height: 1.25rem;
        font-weight: normal
    }
    .touch .secondary-nav-more__link-text {
        font-size: 1rem;
        line-height: 1.375rem;
        font-weight: normal
    }
    .secondary-nav-more__item--active .secondary-nav-more__link {
        border-bottom: 4px solid #ffdf43
    }
    .secondary-nav-more__item--shortcut .secondary-nav-more__link-text {
        border-left: 2px solid #ffdf43
    }
    .secondary-nav-more__item--shortcut .secondary-nav-more__link:active,
    .secondary-nav-more__item--shortcut .secondary-nav-more__link:hover {
        border-bottom: 4px solid #fff
    }
}
@media (min-width: 56.25em) {
    .secondary-nav-more__wrap {
        max-width: 1008px;
        margin: 0 auto
    }
}
.secondary-nav-flyout__relative-wrapper {
    display: none
}
.secondary-nav-flyout {
    padding-left: 4px;
    padding-right: 4px;
    background-color: #121212;
    clear: both;
    border-bottom: 4px solid #ffdf43
}
.secondary-nav-flyout__columns {
    padding-bottom: 0.5rem
}
.secondary-nav-flyout__columns:last-child {
    padding-bottom: 0
}
.secondary-nav-flyout__keyline {
    height: 1px;
    background: #5a5a5a;
    margin-bottom: 0.5rem
}
.secondary-nav-flyout__column {
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    width: 50%
}
.secondary-nav-flyout__column--left .secondary-nav-flyout__items {
    border-right: 1px solid #5a5a5a;
    padding-right: 8px
}
.secondary-nav-flyout__item-link {
    display: block;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 4px;
    margin-left: -4px;
    padding-right: 4px;
    margin-right: -4px;
    color: #dbdbdb;
    overflow: hidden;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: normal
}
.touch .secondary-nav-flyout__item-link {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: normal
}
a.secondary-nav-flyout__item-link:active,
a.secondary-nav-flyout__item-link:hover {
    background: #333
}
.secondary-nav-flyout__item--active {
    padding-left: 4px
}
.secondary-nav-flyout__item--active .secondary-nav-flyout__item-link {
    border-left: 4px solid #ffdf43;
    color: #fff;
    padding-left: 8px
}
.secondary-nav-flyout__header {
    color: #fff;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: normal
}
.touch .secondary-nav-flyout__header {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: normal
}
@media (min-width: 25em) {
    .secondary-nav-flyout {
        padding-left: 12px;
        padding-right: 12px
    }
}
.touch .secondary-nav-flyout__item-link {
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem
}







.visually-hidden,
.vh,
.fixture__card-text,
.calendar-selector__btn-text,
.event-timeline__viewing,
.font-face .event-timeline__nav-text,
.event-timeline__original-date,
.get-inspired-search__submit-text,
.font-face .global-header__sport-text,
.page-title--hidden,
.theme--get-inspired .global-header__section,
.vh--focusable:active,
.vh--focusable:focus {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -0.0625rem;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0 0 0 0)
}
