
<div class="nav-top news {{classes}}">

  <header class="global-header" data-istats-container="header">
    <div class="global-header__wrap">
      <a class="global-header__logo" data-istats-container="sport-logo" href="/">
      <span class="global-header__font-icon"></span>
      <span class="ico ico-sport global-header__image-icon"></span>
      <span class="vh">BBC</span>

      <span class="global-header__sport-text">News</span>

      <span class="vh"> Home Page </span></a>




      <span class="global-header__all-sports-button button" >
        <span class="ico ico-burger global-header__burger"></span>
        <a href="#" class="global-header__all-sports-text btn-open"><span class="btn-text">More News</span></a>
        <span class="global-header__acc-all-sports-enhanced vh">More News menu</span>
      </span>


  <div class="find-local-wide location-london" id="find-local-wide">
      <button class="find-local-wide__link find-local-wide__link--icon-only"><span>Find local news<span></button>
  </div>



    </div>
  </header>


<!-- PRIMARY -->
  <nav class="primary-nav" data-istats-container="primary-nav">
    <div class="primary-nav__items-wrap">
      <ul class="primary-nav__items">
        <!-- <li class="primary-nav__item primary-nav__item--pinned primary-nav__item--all-sports primary-nav__item--with-icon">
        <a class="has-no-touch primary-nav__link" data-anijs="if: click, do: $removeClass no-touch, to: .no-touch;
        if: click, do: $addClass touch, to: html;
        " class="primary-nav__link" href="#"><span class=
        "ico ico-burger primary-nav__item-icon"></span><span class=
        "primary-nav__link-text">Touch On</span></a>

        <a class="has-touch primary-nav__link" data-anijs="if: click, do: $removeClass touch, to: .touch;
          if: click, do: $addClass no-touch, to: html;
          " class="primary-nav__link" href="#"><span class=
          "ico ico-burger primary-nav__item-icon"></span><span class=
          "primary-nav__link-text">Touch Off</span></a>



        </li> -->

        <li class="primary-nav__item primary-nav__item--pinned primary-nav__item--all-sports primary-nav__item--with-icon">

          <div class="button primary-nav__link">
            <a class="btn-open" href="#"><span class="btn-text">Menu</span></a>
          </div>

      </li>




       <li class=" primary-nav__item primary-nav__item--active primary-nav__item--not-full-highlight primary-nav__item--first">
          <a class="primary-nav__link" href="index.html"><span class=
          "primary-nav__link-text">Home</span></a>
        </li>

        <li alt="Trafalgar" class="primary-nav__item gel-type-switch02">
          <a alt="Trafalgar" data-anijs="if: click, do: $removeClass gel-typography-default, to: body;
          if: click, do: $toggleClass gel-typography-trafalgar, to: body;" class="primary-nav__link" href="#Trafalgar"><span class=
          "primary-nav__link-text">UK</span></a>
        </li>

        <li alt="Trafalgar & Double Pica" class=" primary-nav__item gel-type-switch01">
          <a alt="Trafalgar & Double Pica" data-anijs="if: click, do: $removeClass gel-typography-trafalgar, to: body; if: click, do: $toggleClass gel-typography-default, to: body;" class="primary-nav__link" href="#Trafalgar & Double Pica"><span class=
          "primary-nav__link-text">World</span></a>
        </li>
        <li class="primary-nav__item">
           <a alt="Grid" class="primary-nav__link" href="javascript:(function()%7Bif(document.getElementsByClassName(%27gel-grid-overlay%27).length)%7Bdocument.getElementsByClassName(%27gel-grid-overlay%27)%5B0%5D.remove()%7Dvar e%3D%27<div class%3D%5C%27gel-grid-overlay__grid%5C%27><div class%3D%5C%27gel-grid-overlay__margin%5C%27 style%3D%5C%27left: 0%3B%5C%27></div>%27%3Bfor(i%3D0%3Bi<28%3Bi%2B%2B)%7Be%2B%3D%27<div class%3D%5C%27gel-grid-overlay__column%5C%27><div class%3D%5C%27gel-grid-overlay__column-fill%5C%27></div></div>%27%7De%2B%3D%27<div class%3D%5C%27gel-grid-overlay__margin%5C%27 style%3D%5C%27right: 0%3B%5C%27></div>%27%3Be%2B%3D%27</div>%27%3Bvar t%3Ddocument.createElement(%27div%27)%3Bt.className%3D%27gel-grid-overlay%27%3Bt.innerHTML%3De%3Bvar n%3Ddocument.createElement(%27style%27)%3Bn.innerHTML%3D%27                                    .gel-grid-overlay * %7B-moz-box-sizing: border-box%3B -webkit-box-sizing: border-box%3B box-sizing: border-box%3B)%3B%7D.gel-grid-overlay %7Bz-index: 2147483647%3B position: fixed%3B height: 100%25%3B width: 100%25%3B left: 0%3B top: 0%3B%7D.gel-grid-overlay__grid %7Bposition: relative%3B height: 100%25%3B  margin: 0 auto%3B padding: 0 8px%3B%7D.gel-grid-overlay__column-fill %7Bbackground: rgba(255,0,0,0.3)%3B height: 100%25%3B%7D.gel-grid-overlay__margin %7Bdisplay: inline-block%3B height: 100%25%3B width: 16px%3B position: absolute%3B top: 0%3B background: rgba(0,255,0,0.3)%3B%7D%40media (min-width: 900px) and (max-width: 1279px) %7B.gel-grid-overlay__grid %7Bmax-width: 1008px%3B padding: 0 8px%3B%7D .gel-grid-overlay__column %7Bdisplay: inline-block%3B height: 100%25%3B width: 12.5%25%3B padding: 0 8px%3B%7D .gel-grid-overlay__margin %7Bwidth: 16px%3B%7D%7D%40media  (min-width: 1280px) and (max-width: 4000px) %7B.gel-grid-overlay__grid %7Bmax-width: 1280px%3B padding: 0 8px%3B%7D .gel-grid-overlay__column %7Bdisplay: inline-block%3B height: 100%25%3B width: 10%25%3B padding: 0 8px%3B%7D .gel-grid-overlay__margin %7Bwidth: 16px%3B%7D%7D%40media (min-width: 400px) and (max-width: 899px) %7B.gel-grid-overlay__column %7Bdisplay: inline-block%3B height: 100%25%3B width: 16.666%25%3B padding: 0 8px%3B%7D .gel-grid-overlay__column:nth-child(-n%2B13) %7Bdisplay: none%3B%7D%7D%40media (min-width: 400px) and (max-width: 599px) %7B.gel-grid-overlay__column%7Bpadding: 0 4px%3B%7D.gel-grid-overlay__grid%7Bpadding: 0 12px%3B%7D%7D%40media screen and (max-width: 399px) %7B.gel-grid-overlay__column%7Bdisplay: inline-block%3B height: 100%25%3B padding: 0 4px%3B width: 16.666%25%3B%7D.gel-grid-overlay__grid %7Bpadding: 0 4px%3B %7D.gel-grid-overlay__margin %7Bwidth: 8px%3B%7D%7D%27%3Bdocument.getElementsByTagName(%27head%27)%5B0%5D.appendChild(n)%3Bdocument.getElementsByTagName(%27body%27)%5B0%5D.appendChild(t)%3Bt.addEventListener(%27click%27,function()%7Bdocument.getElementsByClassName(%27gel-grid-overlay%27)%5B0%5D.remove()%7D)%7D)()"><span class=
           "primary-nav__link-text">Business</span></a>
         </li>


        <li class=" primary-nav__item">
          <a data-anijs="if: click, do: $toggleClass bbccom_hpu, to: .boron--wrap;
          if: click, do: $toggleClass bbccom_mpu, to: .boron--wrap;" class="primary-nav__link" href="#"><span class=
          "primary-nav__link-text">Politics</span></a>
        </li>

        <li class=" primary-nav__item">
          <a class="primary-nav__link" href="#"><span class=
          "primary-nav__link-text">Tech</span></a>
        </li>

      <li class=" primary-nav__item">
          <a class="primary-nav__link" href="#"><span class=
          "primary-nav__link-text">Science</span></a>
        </li>

        <li class=" primary-nav__item">
          <a class="primary-nav__link" href="#"><span class=
          "primary-nav__link-text">Health</span></a>
        </li>

        <li class=" primary-nav__item">
          <a class="primary-nav__link" href="#"><span class=
          "primary-nav__link-text">Education</span></a>
        </li>
        <li class=" primary-nav__item">
          <a class="primary-nav__link" href="#"><span class=
          "primary-nav__link-text">Entertainment & Arts</span></a>
        </li>
         <li class=" primary-nav__item">
          <a class="primary-nav__link" href="#"><span class=
          "primary-nav__link-text">Video & Audio</span></a>
        </li>


      </ul>
    </div><a class="primary-nav__acc-open-close-primary-nav-flyout vh" href=
    "javascript:void(0);">More News menu</a>
  </nav>

  <div class="primary-nav-flyout__relative-wrapper">
    <nav class="primary-nav-flyout" data-istats-container="primary-nav-flyout">
      <div class="primary-nav-flyout__wrap clearfix">
        <div class=
        " primary-nav-flyout__section primary-nav-flyout__section--open primary-nav-flyout__section--contains-only-primaries">
        <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href="/sport"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">BBC Sport Home</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/football"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Football</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/formula1"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Formula 1</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/cricket"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Cricket</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/rugby-union"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Rugby Union</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/rugby-league"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Rugby League</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/tennis"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Tennis</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/golf"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Golf</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/athletics"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Athletics</span></span></a>
            </li>
          </ul>
        </div>

        <div class=
        " primary-nav-flyout__section primary-nav-flyout__section--main-section">
        <h3 class="primary-nav-flyout__section-title" tabindex="0">
          <span class="primary-nav-flyout__acc-section-title-open-close-text vh">
          Open</span> <span class="primary-nav-flyout__section-title-text">A-Z
          Sports</span> <span class=
          "ico primary-nav-flyout__chevron ico-chevron-down"></span>
          <span class=
          "primary-nav-flyout__acc-section-title-menu-text vh">sub-menu</span></h3>

          <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/athletics"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Athletics</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/boxing"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Boxing</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/cricket"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Cricket</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/cycling"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Cycling</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/disability-sport"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Disability
              Sport</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/football"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Football</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/formula1"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Formula 1</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/northern-ireland/gaelic-games"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Gaelic Games</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/golf"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Golf</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/horse-racing"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Horse Racing</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/motorsport"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Motorsport</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/olympics"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Olympic Sports</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/rugby-league"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Rugby League</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/rugby-union"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Rugby Union</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/snooker"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Snooker</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/swimming"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Swimming</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/tennis"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Tennis</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/winter-sports"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Winter Sports</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/all-sports"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Full Sports A-Z</span></span></a>
            </li>
          </ul><a class="primary-nav-flyout__acc-section-bottom-close vh" href=
          "javascript:void(0);">Close A-Z Sports sub-menu</a>
        </div>

        <div class=" primary-nav-flyout__section">
          <h3 class="primary-nav-flyout__section-title" tabindex="0">
          <span class=
          "primary-nav-flyout__acc-section-title-open-close-text vh">Open</span>
          <span class="primary-nav-flyout__section-title-text">Events</span>
          <span class=
          "ico primary-nav-flyout__chevron ico-chevron-down"></span>
          <span class=
          "primary-nav-flyout__acc-section-title-menu-text vh">sub-menu</span></h3>

          <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/commonwealth-games/2014"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Glasgow 2014</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/football/world-cup/2014"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">World Cup 2014</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/sports-personality"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Sports
              Personality</span></span></a>
            </li>
          </ul><a class="primary-nav-flyout__acc-section-bottom-close vh" href=
          "javascript:void(0);">Close Events sub-menu</a>
        </div>

        <div class=" primary-nav-flyout__section">
          <h3 class="primary-nav-flyout__section-title" tabindex="0">
          <span class=
          "primary-nav-flyout__acc-section-title-open-close-text vh">Open</span>
          <span class="primary-nav-flyout__section-title-text">Around the
          UK</span> <span class=
          "ico primary-nav-flyout__chevron ico-chevron-down"></span>
          <span class=
          "primary-nav-flyout__acc-section-title-menu-text vh">sub-menu</span></h3>

          <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/england"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">England</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/scotland"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Scotland</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/wales"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Wales</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/northern-ireland"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Northern
              Ireland</span></span></a>
            </li>
          </ul><a class="primary-nav-flyout__acc-section-bottom-close vh" href=
          "javascript:void(0);">Close Around the UK sub-menu</a>
        </div>

        <div class=" primary-nav-flyout__section">
          <a class=
          "primary-nav-flyout__section-title primary-nav-flyout__section-title--link"
          href="/iplayer/tv/categories/sport"><span class=
          "primary-nav-flyout__acc-section-title-open-close-text vh">Open</span>
          <span class=
          "primary-nav-flyout__section-title-text">Programmes<span class=
          "ico primary-nav-flyout__chevron-right ico-chevron-right-thin"></span></span>
          <span class=
          "ico primary-nav-flyout__chevron ico-chevron-down"></span>
          <span class=
          "primary-nav-flyout__acc-section-title-menu-text vh">sub-menu</span></a>

          <ul class="primary-nav-flyout__items">
            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/programmes/b007t9y1"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Match of the
              Day</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/5live/programmes/genres/sport/current"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">5 Live Sport</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/17151954"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Sport on the
              BBC</span></span></a>
            </li>

            <li class=" primary-nav-flyout__item">
              <a class="primary-nav-flyout__link" href=
              "/sport/get-inspired"><span class=
              "primary-nav-flyout__link-wrapper"><span class=
              "primary-nav-flyout__link-text">Get Inspired</span></span></a>
            </li>

            <li class=
            "primary-nav-flyout__item primary-nav-flyout__item--section-title-replica-link">
            <a class="primary-nav-flyout__link" href=
            "/iplayer/tv/categories/sport"><span class=
            "primary-nav-flyout__link-text">All Programmes</span></a>
            </li>
          </ul><a class="primary-nav-flyout__acc-section-bottom-close vh" href=
          "javascript:void(0);">Close Programmes sub-menu</a>
        </div>
      </div><a class="primary-nav-flyout__acc-close-flyout vh" href=
      "javascript:void(0);">Close All Sport menu</a>
    </nav>
  </div>



    {{ organism "global_menu" "global_menu" }}
</div>
