{{#if icon}}
  <span class="media-type gs-o-media-icon media-island__icon--bl media-island__icon {{media-type-classes}}">

    {{ atom "icon" classes="gs-o-media-icon__icon gel-icon" }}

    {{#if media-duration}}
     <span class="media-type__duration gel-minion">{{media-duration}}</span>
    {{/if}}

 </span>

{{/if}}
