/*------------------------------------*\
    #MAX THEMES -- black
\*------------------------------------*/
$black-background-color: #222222;
$black-headline-color: #fff;
$black-hover-color: #fff;
$black-summary-color: #fff;
$black-see-also-headline-color: #b7b7b7;
$black-border-color: #2a2f31;


$black-key-points-headline-color: #fff;
$black-key-points-timestamp-color: #fff;
$black-live-accent-color: #fff;
$black-live-bgcolor: #bb1919;
$black-live-shadow-color: #191919;
$black-live-border-color: #ff2d2d;



.theme--max__black{
  div[class*="at-line-"], .iron__item{

    &:after,&:before{
      border: 0 solid transparent !important;
      content: none;
    }
  }
  .iron__item{
    margin-bottom: 0px;
  }
  @include mq($from:gel-bp-m, $until:gel-bp-xxl) {
    .iron__groupings .iron__item{
      margin-bottom: 0px;
    }
  }

    background-color: $black-background-color;
    -webkit-font-smoothing: antialiased;
    .max__item .promo__headline{
      a{ color: $black-headline-color;}
      a:hover{ color: $black-hover-color;}
        -webkit-font-smoothing: antialiased;
    }
    .media-type .media-type__duration,.media-type svg, .at-links-faux-block-link__target a{
    color: $black-headline-color;
    fill: $black-headline-color;
      -webkit-font-smoothing: antialiased;
    }
    .media-type{
      background-color: $black-background-color;
    }
    .max__item .promo__summary{
      color: $black-summary-color;
    }
    .see-also{
      a{ color: $black-see-also-headline-color;}
      a:hover{ color: $black-hover-color;}
    }
   .see-also__item:after{
      border-color: $black-border-color !important;
    }

  .max__item {
    .lx-c-key-points__link{
      color: $black-key-points-headline-color;
      &:hover .lx-c-key-points__text{color: $black-key-points-headline-color;}
    }


    .lx-c-key-points__timestamp{
      color: $black-key-points-timestamp-color;
      background-color: transparent;
    }
    .live_promo {
      border-top: 3px solid $black-live-border-color;
      background-color: $black-live-bgcolor;
      box-shadow: 0 7px 0 -5px $black-live-shadow-color;
      }
    .lx-c-key-points__item:before {
      background-color: $black-live-accent-color;
    }
    .icon--keypoints {
      fill: $black-live-accent-color;
    }
    .gs-o-live-status__icon svg {
    fill: $black-live-accent-color;
    }
    .gs-o-live-status__text {
      color: $black-live-accent-color;
    }
  }
}
