
/*------------------------------------*\
    #MAX THEMES -- DEEP BLUE
\*------------------------------------*/
$deepblue-background-color: #102f42;
$deepblue-headline-color: #fff;
$deepblue-hover-color: #fff;
$deepblue-summary-color: #fff;
$deepblue-see-also-headline-color: #fff;
$deepblue-border-color: #01506f;
$deepblue-metadata-color: #01506f;


$deepblue-key-points-headline-color: #fff;
$deepblue-key-points-timestamp-color: #e8aaaa;
$deepblue-live-accent-color: #fff;
$deepblue-live-bgcolor: #920a0a;
$deepblue-live-shadow-color: #0e293a;
$deepblue-live-border-color: #ff2d2d;

$deepblue-cluster-bgcolor: #143c54;
$deepblue-cluster-headline-color:#fff;


.theme--max__deepblue{
    &.max--card .promo--lead {
      background-color: $deepblue-cluster-bgcolor;
    }
    background-color: $deepblue-background-color;
    -webkit-font-smoothing: antialiased;

    .at-line-l-until\@s:after{
      border-color: $deepblue-background-color;
    }
    .promo--card{
      background-color: $deepblue-cluster-bgcolor;
      .at-links-faux-block-link__target a {
        color: $deepblue-cluster-headline-color;
      }
      .media-type {
        background-color: $deepblue-cluster-bgcolor !important;
        svg {
          fill: $deepblue-cluster-headline-color;
        }
        .media-type__duration{
          color: $deepblue-cluster-headline-color;
        }
      }
    }
    .section-name-trunc{
      color: $deepblue-headline-color;
    }
    .metadata__time {
      color: $deepblue-metadata-color;
      .icon svg {
        fill: $deepblue-metadata-color;
      }
    }

    .max__item .promo__headline{
      a{ color: $deepblue-headline-color;}
      a:hover{ color: $deepblue-hover-color;}
    }
    .max__item .promo__summary{
      color: $deepblue-summary-color;
    }

    .see-also{
      a{ color: $deepblue-see-also-headline-color;}
      a:hover{ color: $deepblue-hover-color;}
    }
   .see-also__item:after{
      border-color: $deepblue-border-color !important;
    }

  .max__item {
    .live_promo {
      box-shadow: 0 7px 0 -5px $deepblue-live-shadow-color;
      }
  }

  div[class*="at-line-"], .iron__item{

    &:after,&:before{
      border: 0 solid transparent !important;
      content: none;
    }
  }
  .iron__item{
    margin-bottom: 0px;
  }
}
