

// STANDARD REPORTERS PROMO
.reporters-std-opt2{

  &.oat .promo{
    background-color: transparent;
    .promo__body{
        background-color: $oat;
        width: 100%;
    }
  }
  .theme--sport &{
    .promo{
      .contributor:before{
        background-color: $sport;
        border-top: 2px solid $sport;
      }
      .contributor__name{
          background-color: rgba($oat, 0.7);
          color: #000;
      }
      .contributor__title{
        background-color: rgba($oat, 0.7);
      }
    }
  }
  .has-reporter{
    display: flex;
    flex-direction: column;
    background-color: transparent !important;
    .promo__content{
      @include mq($from: 'gel-bp-m') {
      padding-bottom: 70px;
    }
    }
  }
    @include content-no-pattern($color-26, $color-2,$summary-copy,$kingfisher,$summary-copy, $color-30);
    .promo__body{
      overflow: visible !important;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      background-color: #fff;

    }
    .has-reporter>.promo__body{
      padding-top: 12px;
      padding-bottom: 24px !important;
        width: 100%;
    }

    .promo__headline{
      padding-bottom: 12px;
      @include gel-typography('double-pica-georgia');
      @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
        width: 66%;
        padding-bottom: 12px;
      }
    }
    .promo__summary{
      display: none;
    }
    .contributor:before{
      content: '';
      display: inline-block;
      width: 54px;
      height: 2px;
      background-color: #1380a1;
      border-top: 2px solid #1380a1;
      position: absolute;
    }
    .contributor__name{
        @include gel-typography('contributor-name-georgia');
        padding-bottom: 4px;
        background-color: rgba(#ffffff, 0.7);
        display: table;
    }
    .contributor__title{
      background-color: rgba(#ffffff, 0.7);
      display: inline;
    }
    .label--breaking .label{
      color: $bling;
      display: block;
      @include gel-typography('minion');
      font-family: helvetica, arial, sans-serif;
      margin-bottom: 4px;
      &:after{
        content: none;
      }
    }
    .avatar{
      width: 150px;
    }
    .contributor__avatar{
      bottom: 0;
      right: -16px;
      position: absolute;
      left: inherit;
    }
    .contributor__body{
      position: relative;
      width: 59%;
      display: inline-block;
      padding-top: 8px;
      vertical-align: top;
      z-index: 3;
    }
  }

  // SMALL REPORTERS PROMO
  body .reporters-small-opt2{
    &.oat .promo{
      background-color: transparent;
      .promo__body{
          background-color: $oat;
      }
    }
    .has-reporter{
      background-color: transparent !important;
    }
    .promo__body{
        background-color: #fff;
    }
      @include content-no-pattern($color-26, $color-2,$summary-copy,$kingfisher,$summary-copy, $color-30);
      .promo__body{
        overflow: visible !important;
      }

      .promo__headline{
        @include gel-typography('great-primer-georgia');
        font-weight: normal;
        @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
          width: 100%;
          padding-bottom: 12px;
        }
        padding-bottom: 12px;
      }
      .promo__summary{
        display: none;
      }
      .contributor:before{
        content: '';
        display: inline-block;
        width: 54px;
        height: 2px;
        background-color: #1380a1;
        border-top: 2px solid #1380a1;
        position: absolute;
      }
      .contributor__title{
        display: inline-block;
        background-color: rgba(#ffffff, 0.7);

      }
      .contributor__name{
        display: inline-block;
          padding-right: 4px;
          @include gel-typography('contributor-name-georgia');
          padding-bottom: 4px;
      }
      .label--breaking .label{
        color: $bling;
        display: block;
        @include gel-typography('minion');
        font-family: helvetica, arial, sans-serif;

        margin-bottom: 4px;
        &:after{
          content: none;
        }
      }


      .contributor__body{
        width: 100%;
        padding-top: 8px;
        vertical-align: top;
      }
    }

    // STANDARD REPORTERS PROMO
    .reporters-large-opt2{

      &.oat .promo{
        background-color: $kingfisher;
        .promo__body{
            background-color: $oat;
        }
      }
      .has-reporter{
        display: flex;
        flex-direction: column;
        background-color: $kingfisher !important;
        min-height: 279px;
        @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
            min-height: inherit;
        }
      }
      .promo__content{
        padding-left: 12px;
      }

        @include content-no-pattern($color-26, $color-2,$summary-copy,$kingfisher,$summary-copy, $color-30);
        .promo__body{
            background-color: $oat;
          overflow: visible !important;
          justify-content: space-between;
          display: flex;
          flex-direction: column;
          flex: 1 1 auto;
          padding: 12px 0 0 0 !important;
        }
        .has-reporter>.promo__body{
          padding-top: 12px;

        }
        .promo__headline{
          padding-bottom: 12px;
          width: calc(100% - 236px);
          a{
            color: $storm !important;
          }
          @include gel-typography('canon-georgia');
          .sans-serif &{
              @include gel-typography('canon');
              font-family: helvetica, arial;
              letter-spacing: normal;
          }
          @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
            width: calc(100% - 140px);
            padding-bottom: 12px;
          }
        }
        .promo__summary{
          display: none;
        }
        .contributor{

          &:before{
            content: '';
            display: inline-block;
            width: 54px;
            height: 3px;
            left: 12px;
            background-color: #1380a1;
            border-top: 3px solid #1380a1;
            position: absolute;
          }
        }
        .contributor__name{
            @include gel-typography('contributor-name-georgia');
            padding-bottom: 4px;
            color: $kingfisher !important;
            .sans-serif &{
              @include gel-typography('pica');
              padding-bottom: 0;
            }
        }
        .contributor__title{
            color: $summary-copy !important;
        }
        .label--breaking .label{

          color: $bling;
          display: block;
          @include gel-typography('minion');
          font-family: helvetica, arial, sans-serif;

          margin-bottom: 4px;

          &:after{
            content: none;
          }
        }
        .avatar{
          width: 280px;
            @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
              width: 160px;
            }
        }
        .contributor__avatar{
          bottom: 0;
          right: 0;
          position: absolute;
          left: inherit;
        }
        .contributor__body{
          width: 58%;
          display: inline-block;
          vertical-align: top;
          padding: 12px 0 12px 12px;
        }
      }

.iodine--wrap .reporters-std-opt2 {
  .contributor__name, .contributor__title{
    background-color: hsla(30, 19%, 94%, 0.7);
}
.promo{
  min-height:250px;
}
}
