


// STANDARD REPORTERS PROMO
.reporters-std-opt3{
  &.oat .promo{
    background-color: $kingfisher;
    .promo__body{
        background-color: $oat;
        width: 100%;
    }
  }
  &.kingfisher .promo{
    background-color: $kingfisher;
    .promo__body{
        background-color: $kingfisher;
        width: 100%;
        justify-content: flex-start;
        .promo__headline a{
          color: #fff;
          -webkit-font-smoothing:antialiased;
        }
        .contributor__title, .contributor__name{
          color: #fff;
        }
    }
  }
  .has-reporter{
    display: flex;
    flex-direction: column;
    background-color: $kingfisher !important;
  }
    @include content-no-pattern($color-26, $color-2,$summary-copy,$kingfisher,$summary-copy, $color-30);
    .promo__body{
      margin-bottom: 32px;
      overflow: visible !important;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      background-color: #fff;

    }
    .has-reporter>.promo__body{
      padding-top: 12px;
      padding-bottom: 12px !important;
        width: 100%;
    }
    .promo__headline{
      padding-bottom: 12px;
      @include gel-typography('double-pica-georgia');
      .sans-serif &{
          @include gel-typography('great-primer');
          font-family: helvetica, arial;
          letter-spacing: normal;
      }
      @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
        width: 80%;
        padding-bottom: 12px;
      }
    }
    .promo__summary{
      display: none;
    }
    .contributor:before{
      content: none;
      display: inline-block;
      height: calc(100% + 12px);
      width: 3px;
      background-color: $kingfisher;
      border-left: 3px solid $kingfisher;
      position: relative;
    }
    .contributor__name{
        @include gel-typography('contributor-name-georgia');
        padding-bottom: 4px;
        .sans-serif &{
          @include gel-typography('pica');
          padding-bottom: 0;
        }
    }
    .contributor__avatar{
      @include mq($from: 'gel-bp-m', $until:700px) {
        right: -20px !important;
      }
    }
    .label--breaking .label{
      color: #000;
      display: block;
      @include gel-typography('minion');
      font-family: helvetica, arial, sans-serif;
      text-transform: none;
      margin-bottom: 4px;
      &:after{
        content: none;
      }
    }
    .avatar{
      width: 112px;
    }
    .contributor__avatar{
      bottom: 0;
      right: 0;
      position: absolute;
      left: inherit;
    }
    .contributor__body{
      width: 60%;
      display: inline-block;
      vertical-align: top;
    }
  }

  // SMALL REPORTERS PROMO
  .reporters-small-opt3{
    &.oat .promo{
      background-color: transparent;
      .promo__body{
          background-color: $oat;
      }
    }
    &.kingfisher .promo{
      background-color: $kingfisher;
      .promo__body{
          background-color: $kingfisher;
          width: 100%;
          justify-content: space-between;
          .promo__headline a{
            color: #fff;
            -webkit-font-smoothing:antialiased;
          }
          .contributor__title, .contributor__name{
            color: #fff;
          }
      }
    }
    .has-reporter{
      background-color: transparent !important;
    }
    .promo__body{
        background-color: #fff;
    }
      @include content-no-pattern($color-26, $color-2,$summary-copy,$kingfisher,$summary-copy, $color-30);
      .promo__body{
        overflow: visible !important;
      }
      .has-reporter>.promo__body{
        padding-top: 12px;
        padding-bottom: 12px !important;
      }
      .promo--feature_brand .promo__headline{
        @include gel-typography('great-primer-georgia');
        font-weight: normal;
        .sans-serif &{
            @include gel-typography('pica');
            font-family: helvetica, arial;
            letter-spacing: normal;
        }
        @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
          width: 100%;
          padding-bottom: 12px;
        }
        padding-bottom: 12px;
      }
      .promo__summary{
        display: none;
      }
      .contributor:before{
        content: none;
        display: inline-block;
        height: calc(100% + 12px);
        width: 3px;
        background-color: $kingfisher;
        border-left: 3px solid $kingfisher;
        position: relative;
      }
      .contributor__name{
          @include gel-typography('contributor-name-georgia');
          padding-bottom: 4px;
          .sans-serif &{
            @include gel-typography('pica');
            padding-bottom: 0;
          }
      }

      .label--breaking .label{
        color: #000;
        display: block;
        @include gel-typography('minion');
        font-family: helvetica, arial, sans-serif;
        text-transform: none;
        margin-bottom: 4px;
        &:after{
          content: none;
        }
      }


      .contributor__body{
        width: 100%;

        vertical-align: top;
      }
    }

    // STANDARD REPORTERS PROMO
    .reporters-large-opt3{
      &.oat .promo{
        background-color: $kingfisher;
        .promo__body{
            background-color: $oat;
          @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
            background-color: $kingfisher;
            .promo__headline{
              a{
                color: #fff;
              }
            }
          }
        }
      }
      .has-reporter{
        display: flex;
        flex-direction: column;
        background-color: $kingfisher !important;
        min-height: 279px;
        @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
            min-height: inherit;
        }
      }
      .promo__content{
        padding-left: 12px;
      }

        @include content-no-pattern($color-26, $color-2,$summary-copy,$kingfisher,$summary-copy, $color-30);
        .promo__body{
            background-color: #fff;
          overflow: visible !important;
          justify-content: space-between;
          display: flex;
          flex-direction: column;
          flex: 1 1 auto;
          padding: 12px 0 0 0 !important;
        }
        .has-reporter>.promo__body{
          padding-top: 12px;

        }
        .promo__headline{
          padding-bottom: 12px;
          width: calc(100% - 280px);
          a{
            @include mq($from: 'gel-bp-m') {
              color: $storm !important;
            }
          }
          @include gel-typography('canon-georgia');
          .sans-serif &{
              @include gel-typography('canon');
              font-family: helvetica, arial;
              letter-spacing: normal;
          }
          @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
            width: calc(100% - 140px);
            padding-bottom: 12px;
          }
        }
        .promo__summary{
          display: none;
        }
        .contributor{
          background-color: $kingfisher;
          &:before{
            content: none;
            display: inline-block;
            height: calc(100% + 12px);
            width: 3px;
            background-color: $kingfisher;
            border-left: 3px solid $kingfisher;
            position: relative;
          }
        }
        .contributor__name{
            @include gel-typography('contributor-name-georgia');
            padding-bottom: 4px;
            color: #fff !important;
            .sans-serif &{
              @include gel-typography('pica');
              padding-bottom: 0;
            }
        }
        .contributor__title{
            color: #fff !important;
        }
        .label--breaking .label{
          color: #000;
          display: block;
          @include gel-typography('minion');
          font-family: helvetica, arial, sans-serif;
          text-transform: none;
          margin-bottom: 4px;
          &:after{
            content: none;
          }
        }
        .avatar{
          width: 280px;
            @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
              width: 160px;
            }
        }
        .contributor__avatar{
          bottom: 0;
          right: 0;
          position: absolute;
          left: inherit;

        }
        .contributor__body{
          width: 60%;
          display: inline-block;
          vertical-align: top;
          padding: 12px 0 12px 12px;
        }
      }
