


// STANDARD REPORTERS PROMO
.reporters-std-opt1{
  &.oat .promo{
    background-color: $oat;
  }
  @include content-no-pattern($color-26, $color-2,$summary-copy,$kingfisher,$summary-copy, $color-30);

  .avatar{
    width: 100%;
  }
  .has-reporter{
    >.promo__body{
      padding-top: 8px;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
    }
    .promo__content {
      order: 2;
    }
    .contributor{
      order: 1;
      display: flex;
      border-bottom: 3px solid $ruby;
      margin-bottom: 12px;

      .contributor__name{
        font-family: georgia;
        color: $postbox;
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 4px;
      }
      .contributor__body{
        order: 2;
        display: flex;
        vertical-align: bottom;
        flex-direction: column;
        justify-content: center;
      }
      .contributor__avatar{
        order: 1;
        left: 0;
        bottom: 0;
        min-width: 102px;
        padding-right: 8px;
        @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
          min-width: 80px;
        }
      }
    }
    .promo__summary{
      display: none;
    }
    .promo__headline{

      color: #272727;
      @include gel-typography('double-pica-georgia');
      padding-bottom: 20px;
    }
    .contributor+.metadata{
      display: inherit;
      order: 3;
      position: absolute;
      bottom: 12px;
    }
    .section-name-trunc:after{
      color: $kingfisher;
      font-weight: 700;
    }

  }

}



.reporters-small-opt1{
  &.oat .promo{
    background-color: $oat;
  }
  @include content-no-pattern($color-26, $color-2,$summary-copy,$kingfisher,$summary-copy, $color-30);

  .avatar{
    width: 100%;
  }
  .has-reporter{
    >.promo__body{
      padding-top: 8px;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
    }
    .promo__content {
      order: 2;
    }
    .contributor{
      order: 1;
      display: flex;
      border-bottom: 3px solid $ruby;
      margin-bottom: 8px;
      padding-bottom: 8px;
      .contributor__name{
        @include gel-typography('contributor-name-georgia');
        color: $postbox;
        padding-bottom: 4px;
      }
      .contributor__body{
        order: 2;
        display: flex;
        vertical-align: bottom;
        flex-direction: column;
        justify-content: center;
      }
      .contributor__avatar{
        order: 1;
        left: 0;
        bottom: 0;
        min-width: 102px;
        padding-right: 8px;
      }
    }
    .contributor+.metadata{
      display: inherit;
      order: 3;
      position: absolute;
      bottom: 8px;
    }
    .promo__summary{
      display: none;
    }
    .promo__headline{

      color: #272727;
      @include gel-typography('great-primer-georgia');
      padding-bottom: 20px;

    }

    .section-name-trunc:after{
      color: $kingfisher;
      font-weight: 700;
    }

  }


}




// STANDARD REPORTERS PROMO
.reporters-large-opt1{
  &.oat .promo{
    background-color: $oat;
  }
  @include content-no-pattern($color-26, $color-2,$summary-copy,$kingfisher,$summary-copy, $color-30);

  .avatar{
    width: 100%;
  }
  .has-reporter{
    >.promo__body{
      padding-top: 8px;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
    }
    .promo__content {
      order: 2;
    }
    .contributor{
      order: 1;
      display: flex;
      border-bottom: 3px solid $ruby;
      margin-bottom: 12px;

      .contributor__name{
        font-family: georgia;
        color: $postbox;
        font-size: 20px;
        line-height: 20px;
        padding-bottom: 4px;
      }
      .contributor__body{
        order: 2;
        display: flex;
        vertical-align: bottom;
        flex-direction: column;
        justify-content: center;
      }
      .contributor__avatar{
        order: 1;
        left: 0;
        bottom: 0;
        min-width: 102px;
        padding-right: 8px;
        @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
          min-width: 80px;
        }
      }
    }
    .promo__summary{
      display: none;
    }
    .promo__headline{

      color: #272727;
      @include gel-typography('canon-georgia');
      padding-bottom: 20px;
        @include mq($from: 'gel-bp-m') {
          max-width: 80%;
        }
    }
    .contributor+.metadata{
      display: inherit;
      order: 3;
      position: absolute;
      bottom: 12px;
    }
    .section-name-trunc:after{
      color: $kingfisher;
      font-weight: 700;
    }

  }

}
