
///*------------------------------------*\
//    # PROMO FEATURE
//\*------------------------------------*/
@mixin promo--feature_opt3{
  background-color: #fff;
    -webkit-font-smoothing:antialiased !important;
    &:before {
    content: none;
    }
  .promo__content{
    background-color: rgba(#0a101c, 0.8);
    padding: 12px 12px 20% 12px;

    @include mq($from:'gel-bp-xs', $until:'gel-bp-m') {
      padding: 12px;
    }
  }
  .promo__media{
    margin-bottom: 0;

    .media-type__duration{
      display: none;
    }

    &:before {
    content: none;
    }
    @include mq($from:gel-bp-xs, $until:599px) {
      &:before {
      content: none;
      }
    }

  }

  .promo__body{
    z-index: 2;
    position: absolute;
    @include mq($from:gel-bp-m) {
      top: 0px;
    }

    .promo__headline{

        @include gel-typography('trafalgar-bold');
          -webkit-font-smoothing:antialiased !important;
    }
    a{
      color: $bling;
    }
    .metadata__section{
      @include gel-typography('minion');
    }
    .metadata__time .icon svg, .metadata__comments .icon svg{
      fill: #ededed;
    }
    .metadata {
      margin-top: 0;
      margin-bottom: halve($gel-spacing-unit);
      .section-name-trunc{
        color: #ededed;
      }
      li{
        color: #ededed;
      }
    }
  }
  .promo--feature_brand{
    position: relative;
    display: inline-block;
    padding: 0;
    &:before{
      content: none;
    }
      @include mq($from:'gel-bp-xs', $until:'gel-bp-m') {
        &:before{
          top: 0;
        }
      }
  }
  .promo__summary{
    margin-top: 4px;
    color: #ffffff;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    &:before{
      content: none;
    }
      @include mq($from:'gel-bp-xs', $until:'gel-bp-m') {
        &:before{
          height: calc(100% + 32px);
        }
      }

  }
    .media-type{
      padding: 8px 8px 7px 8px;
      margin-left: 12px;
      margin-bottom: 38px;
      z-index: 1;
    }
    .promo__body{
      padding-left: $gel-alt-spacing-unit;
      padding-right: $gel-alt-spacing-unit;
    }

    @include mq($from:gel-bp-xs) {

      .promo__body{
        bottom: 1px;
        padding-left: $gel-alt-spacing-unit;
        padding-right: $gel-alt-spacing-unit;
        width: 100%;
      }
    }


    @include mq($from:gel-bp-m) {
      .promo--feature_brand{
        width: 100%;
      }
      .promo__body{
        padding-left: 12px;
        padding-right: 16px;
        width:  calc( #{gel-columns(1/2)} + #{double($gel-spacing-unit)});
        .promo__summary{
          display: inherit !important;
        }
      }
    }

    @include mq($from:600px) {
      .gel-responsive-image--16by9{
        padding-bottom: 40%;
      }
      .promo__body{

        width:  calc( #{gel-columns(1/3)} + #{double($gel-spacing-unit)});

      }
    }
    @include mq($from:gel-bp-l) {
      .promo__body{

        width:  calc( #{gel-columns(1/3)} + #{double($gel-spacing-unit)});
        .promo__summary{
          display: inherit;
        }
      }
    }


}

@include mq($from:gel-bp-xs) {
  .promo-feature_opt3{
    .promo--feature{
      @include promo--feature_opt3;
    }
  }
}

@mixin promo--feature__standard__opt3{
  background-color: #fff;
  margin-bottom: 0;
  -webkit-font-smoothing:subpixel-antialiased !important;
  background-size: cover;
  background-position: center;
  .promo__content{
    background-color: rgba(#0a101c, 0.8);
    padding: 12px 12px 20% 12px;

    @include mq($from:'gel-bp-xs', $until:'gel-bp-m') {
      padding: 12px;
    }
  }
  @include mq($from:gel-bp-xs) {
  padding-bottom: 56.25%;
  }
  @include mq($from:gel-bp-m) {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 100%;
  }
    .media-type__duration{
      display: none;
    }

      &:before {
      content: none;
      }
  .promo__body{
    z-index: 2;
    position: absolute;
    bottom:0;
    padding: 12px 12px 0 12px;;
    @include mq($from:gel-bp-xs, $until:gel-bp-m) {
      padding-left: 12px;
      padding-right: 12px;
    }
    width: 100%;

    a{
      color: $bling;

    }
    .metadata__section{
      @include gel-typography('minion');
    }
    .metadata__time .icon svg, .metadata__comments .icon svg{
      fill: #ededed;
    }
    .metadata {
      margin-top: 0;
      margin-bottom: halve($gel-spacing-unit);
      .section-name-trunc{
        color: #ededed;
      }
    }
  }
  .promo--feature_brand{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    &:before{
      content: none;
    }
  }
  .promo__headline{
      @include gel-typography('great-primer');
      
      -webkit-font-smoothing:antialiased !important;
  }
  .promo__summary{
    color: #fff;
    position: relative;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;
    -webkit-font-smoothing:antialiased !important;
    &:before{
      content: none;
    }

  }

}

@include mq($from:gel-bp-xs) {
  .promo--feature__standard__opt3{
    @include promo--feature__standard__opt3;
    z-index: 1;
  }
}


  .promo--feature__small--opt3{
    @include promo--feature__standard__opt3;
    z-index: 1;
    padding-bottom: 56.25% !important;
    background-size: cover;
    .metadata{
      display: none;
    }
    @include mq($from:gel-bp-m) {
  .promo__body{
      padding: 0 !important;
      height: 100%;

    }
    .promo__content{
      padding: 12px;
      height: 100%;

    }
  }
}
