.nav-top.news + .hydrogen--wrap{
  @include mq($from:'gel-bp-m') {
    margin-top: $spacing-vertical-medium;
  }

  @include mq($from:'gel-bp-l') {
    margin-top: $spacing-vertical-large;
  }
  @include mq($from:'gel-bp-xxl') {
    margin-top: $spacing-vertical-xxlarge;
  }
}
///*------------------------------------*\
//    # hydrogen USED FOR TOP STORIES
//\*------------------------------------*/
@include mq($from:'gel-bp-l') {
    .hydrogen--box{
      display: flex;
    }
}

.hydrogen--wrap{
  @include mq($from: 'gel-bp-m') {
  margin-bottom: -16px;
  }
}

@include mq($from:'gel-bp-m', $until: 'gel-bp-xxl' ) {
  .hydrogen--box.at-line-b-until\@l{
    margin-bottom: 16px;
  }

}

.hydrogen__item{
  position: relative;
  .promo--lead{
    @include mq($from:gel-bp-xs, $until:320px) {
      .promo__media {
        margin-right: -8px;
        margin-left: -8px;
      }
    }
  }
}



///*------------------------------------*\
//    # RIVER DISPLAYS HEADLINES ONLY
//\*------------------------------------*/

.hydrogen__river{

  @include mq($from: 'gel-bp-m') {
  overflow: hidden;
  .hydrogen__item--river{
    padding-bottom: $gel-spacing-unit * 2;
   }
  }
  @include mq($from: 'gel-bp-xs', $until: 'gel-bp-m') {
    .promo__media{
      display: block !important;
    }
  }
  @include mq($from: 'gel-bp-m', $until: 'gel-bp-l') {
    .hydrogen__item--river:nth-child(-n+6){
      padding-bottom: $gel-spacing-unit * 2;
    }
   }
  @include mq($from: 'gel-bp-l', $until: 'gel-bp-xxl') {
    .hydrogen__item--river:nth-child(-n+4){
      padding-bottom: $gel-spacing-unit * 2;
    }
  }
  @include mq($from: 'gel-bp-xxl') {
     padding-bottom: 16px;
     &:last-child{
       padding-bottom: 0;
     }
    .hydrogen__item--river{
        padding-top: $gel-spacing-unit;
        padding-bottom: $gel-spacing-unit;
      &:first-child{
        padding-top: 0;
      }
      &:last-child{
        padding-bottom: $gel-spacing-unit * 2;
      }
    }

  }

  .promo__media{
    display: none;
  }
  .promo__headline{
    @include gel-typography('pica-bold');
  }
}


// if Hidrogen has more than 7 items
.hydrogen__item:nth-last-child(n+8), .hydrogen__item:nth-last-child(n+8) ~ .hydrogen__item:first-child {

  @include mq($from:gel-bp-l) {
    width: gel-columns(6/12) !important;
  }

.promo--lead {
  display: flex;
 justify-content: space-between;
  &.promo--has-image-4by3 .gel-responsive-image--16by9{
        padding-bottom: 65%;
  }
  .metadata{
    position: initial;
  }

 .label {
    display: inline-table;
  }
  .promo__body{
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: gel-columns(12/1);
    float: initial;
    padding-right: 0 !important;
  }
  .promo__media {
      width: initial;
      float: initial;
      padding-left: 0 !important;
      order: 0;
    }

  .gel-responsive-image{
    display: none;
  }
  .promo__headline{
   @include gel-typography('trafalgar-bold');
   }



}

}

///*------------------------------------*\
//    # HYDROGEN FEATURES
//\*------------------------------------*/


.hydrogen--features{
  background: #F4F4F4;
  padding-top: 16px;
  .media-type{
    background: #F4F4F4;
  }
}
.hydrogen--features + .hydrogen--features{
  padding-top: 0;
}


///*------------------------------------*\
//    # RIVER FEATURES
//\*------------------------------------*/
.river--features{
    @include mq($from:gel-bp-xxl) {
      .hydrogen__item--river{
        padding-top: 8px;
        padding-bottom: 0px;
    }
  }


  @include mq($from:gel-bp-m, $until:gel-bp-xxl) {

    .promo__body{
      padding: 12px;
    }
    .hydrogen__item--river{
      padding-top: 1px;
      padding-bottom: 0px;

    }

}
}
