{{! on-now.hbs }}
{{#if on_now_heading}}
<div class="on-now on-now--standard">

<div class="on-now-group ">
{{#on_now}}

  <div class="on-now--item gel-1/2@xs gel-1/1@m">


    {{ molecule "promo"}}
  </div>

{{/on_now}}
</div>
</div>
{{/if}}
