// _global_menu.scss
//

.btn-open{
  color: #fff;
}
.btn-text{
  vertical-align: top;
  -webkit-font-smoothing: subpixel-antialiased;
  padding-left: 12px;
}
.branding-image {
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  height: 100%;

  svg{
    height: 100%;
    width: 100%;
  }
}
.branding-image:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(90deg,rgba(165, 19, 107, 0.7),rgba(202, 13, 13, 0.59),rgba(185, 6, 6, 0.8),rgba(138, 2, 71, 0.65));
}


/*styling open close button*/
.button {
  display:inline;
  position: relative;
  right:10px;
  top:12px;
  z-index:1001;
  font-size: 15px;
-webkit-font-smoothing: none !important;
  &:hover{
    background-color: transparent !important;
  }
}
.button a {
  text-decoration:none;
}
.more-btn.btn-open:before{
  display: none;
}
.more-btn.btn-open:after{
border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    content: '';
    height: 0;
    position: relative;
    right: -6px;
    top: 11px;
    width: 0;
}

@include mq($from:gel-bp-m) {
  .btn-open{
    position: relative;
    top: -2px;
  }
}

.btn-open:before {
  color:#fff;
  content:"\e900";
  font-family:"custom-symbols";
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
@include mq($from:gel-bp-xs, $until:gel-bp-m) {
      font-size: 10px;
    }
}
.btn-open:hover:after {
  color: #000000;
}
.btn-close:after {
  color:#fff;
  content:"\e901";
  font-family:"custom-symbols";
  transition-property:all .2s linear 0s;
  -moz-transition:all .2s linear 0s;
  -webkit-transition:all .2s linear 0s;
  -o-transition:all .2s linear 0s;
}
.btn-close:hover:after {
  color:#000000;
}
.global_menu {
  	z-index: 1000;
    position: absolute;
    .button {
      float: right;
      .btn-close:hover:after {
        color:$kingfisher;
      }
    }
  ul {
  	margin:0;
  	padding:0;
  	text-decoration:none;
  	list-style:none;
  }
  li {
  	padding:0;
  	margin:0;
  }


  /*overlay*/
  .overlay {
  	display:none;
  	position:fixed;
  	top:0;
  	height:100%;
  	width:100%;



  }
  .wrap {
  	color:#e9e9e9;
  	max-width:90%;
  	margin:0 auto;
  }
  .wrap-nav{
    	text-align:center;
    }
  .wrap ul.wrap-nav {
  	border-bottom:1px solid rgba(255, 255, 255, 0.3);
  	text-transform:capitalize;
  	padding:150px 0px 100px;
  }
  .wrap ul.wrap-nav li {
  	font-size:20px;
  	display:inline-block;
  	vertical-align:top;
  	width:24%;
  	position:relative;
  }
  .wrap ul.wrap-nav li a {
  	color:#ddffcf;
    font-weight: 700;
  	display:block;
  	padding:8px 0;
  	text-decoration:none;
  	transition-property:all .2s linear 0s;
  	-moz-transition:all .2s linear 0s;
  	-webkit-transition:all .2s linear 0s;
  	-o-transition:all .2s linear 0s;
  }
  .wrap ul.wrap-nav li a:hover {
  	color:#ffa800;
  }
  .wrap ul.wrap-nav ul {
  	padding:20px 0;
  }
  .wrap ul.wrap-nav ul li {
  	display:block;
  	font-size:13px;
  	width:100%;
  	color:#e9e9e9;
  }
  .wrap ul.wrap-nav ul li a {
  	color:#f0f0f0;
  }
  .wrap ul.wrap-nav ul li a:hover {
  	color:#ffa800;
  }
  .social {
  	font-size:25px;
  	padding:20px;
  }
  .social p {
  	margin:0;
  	padding:20px 0 5px 0;
  	line-height:30px;
  	font-size:13px;
  }
  .social p a {
  	color:#34B484;
  	text-decoration:none;
  	margin:0;
  	padding:0;
  }
  .social-icon {
  	width:80px;
  	height:50px;
  	background:#e9e9e9;
  	color:#333;
  	display:inline-block;
  	margin:0 20px;
  	transition-property:all .2s linear 0s;
  	-moz-transition:all .2s linear 0s;
  	-webkit-transition:all .2s linear 0s;
  	-o-transition:all .2s linear 0s;
  }
  .social-icon:hover {
  	background:#34B484;
  	color:#f0f0f0;
  }
  .social-icon i {
  	margin-top:12px;
  }
  @media screen and (max-width:48em) {
  	.wrap ul.wrap-nav>li {
  		width:100%;
  		padding:20px 0;
  		border-bottom:1px solid rgba(255, 255, 255, 0.3);
  	}
  	.wrap ul.wrap-nav {
  		padding:30px 0px 0px;
  	}
  	nav ul {
  		opacity:0;
  		visibility:hidden;
  	}
  	.social {
  		color:#c1c1c1;
  		font-size:25px;
  		padding:15px 0;
  	}
  	.social-icon {
  		width:100%;
  		height:50px;
  		background:#fff;
  		color:#333;
  		display:block;
  		margin:5px 0;
  	}
  }


}
