{{! global_menu.hbs }}

<div class="global_menu">


<div class="overlay">
  <div class="branding-image">
      <svg viewBox="0 0 1008 567" preserveAspectRatio="xMidYMid slice">
          <defs>
              <filter id="blur">
                  <feGaussianBlur in="SourceGraphic" stdDeviation="3"></feGaussianBlur>
                  <feColorMatrix type="matrix" values="0.83984375 0 0 0 0.09765625 -0.08984375 0 0 0 0.14453125 -0.1328125 0 0 0 0.3125 0 0 0 1 0"></feColorMatrix>
              </filter>
          </defs>
          <image filter="url(#blur)" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="http://c.files.bbci.co.uk/0E13/production/_90030630_mediaitem90030626.jpg" x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMidYMid meet"></image>
        </svg>
  </div>


	<div class="wrap">
    <div class="button">
      <a class="btn-close" href="#"></a>
    </div>

		<ul class="wrap-nav">
      <ul class="toggle-button">
        <li class="toggle-button__list-item">
      <a class="has-no-touch " data-anijs="if: click, do: $removeClass no-touch, to: .no-touch;
      if: click, do: $addClass touch, to: html;
      " class="primary-nav__link" href="#"><span class=
      "ico ico-burger primary-nav__item-icon"></span><span class=
      "primary-nav__link-text">Touch On</span></a>

      <a class="has-touch " data-anijs="if: click, do: $removeClass touch, to: .touch;
        if: click, do: $addClass no-touch, to: html;
        " class="primary-nav__link" href="#"><span class=
        "ico ico-burger primary-nav__item-icon"></span><span class=
        "primary-nav__link-text">Touch Off</span></a>
      </li>
      </ul>
      {{#each section}}
        <li><a href="{{url}}">{{title}}</a>
  			<ul>
          {{#each sectionItem}}
  				    <li><a href="{{url}}">{{title}}</a></li>
  		    {{/each}}
  			</ul>
  			</li>
      {{/each}}


		</ul>

	</div>
</div>


</div>
