///*------------------------------------*\
//    # MOST POPULAR
//\*------------------------------------*/
.mostpop--wrap{
  .ad-slot{
    display: none;
  }
}
.mostpop__list {
    column-count: 2;

}

.mostpop__list-item {
  @include mq($from:gel-bp-xs, $until:gel-bp-m) {
    margin-top: 16px;
    &:first-child{
      margin-top: 0px;
    }
  }
    @include mq($from:gel-bp-m) {
    position: relative;
    }
    display: inline-block;
    width: 100%;
    padding-left: 16px;
}

.mostpop__list-item-rank {

    @include gel-typography('canon');
    letter-spacing: -2px;
    color: $postbox;
    width: 44px;
    display: inline-table;
    float: left;

    text-align: left;
    padding-right: 10px;
    font-weight: 200;
    // .most-watched &{
    //   color: $ebon;
    // }
    @include mq($from:gel-bp-xs, $until:gel-bp-m) {
        width: 32px;
    }
}

.mostpop__list-item-headline {
    padding-top: 6px;
    position: absolute;
    @include mq($from:gel-bp-xs, $until:gel-bp-m) {
      padding-right: 8px;
      padding-top: 4px;
    }
    .icon{
      margin-right: 6px;
      svg{
        height: 14px;
        width: 14px;
      }
    }
}

.mostpop__list-item:nth-child(10) .mostpop__list-item-rank {
    margin-left: -12px;

    width: 52px;
    @include mq($from:gel-bp-xs, $until:gel-bp-m) {
        width: 44px;
    }
}
@include mq($from: 'gel-bp-xs') {
  .mostpop__list {
    column-count: 1;
    padding-left: 0;
    margin-bottom: -8px;
  }
}

@include mq($from: 'gel-bp-m') {
  .mostpop__list {
    column-count: 2;
    margin-bottom: -16px;
  }
  .mostpop__list-item-headline {
  @include gel-typography('pica-bold');
  }
}
@include mq($from: 'gel-bp-l') {
  .mostpop__list-item {
      max-width: 465px;
    }
  .mostpop__list-item-headline {
      padding-bottom: 0px;
  }
}

@include mq($from: 'gel-bp-xxl') {

  .mostpop__list {

      column-count: auto;
      padding-bottom: 0px;
      column-gap: 20px;
  }
  .mostpop__list-item {
    width: gel-columns(1/5);
    padding-bottom: 16px;
  }
  .mostpop__list-item-headline {
    width: 194px;
    padding-bottom: 16px;
    -webkit-font-smoothing: auto;
  }
}

.has-advert{
  @include mq($from: 'gel-bp-xs') {
    .ad-slot{
      margin-top: 16px;
      display: inline-block;
    }
  }
  @include mq($from: 'gel-bp-l') {
    .ad-slot{
      margin-top: 1px;
    }
  }

  @include mq($from: 'gel-bp-l') {
    .mostpop__list{
      width: gel-columns(2/3);

      column-count: 2;
      margin-top: 0;
    }
  }
  @include mq($from: 'gel-bp-xxl') {
    .mostpop__list{
      width: gel-columns(3/5);
      column-gap: 0px;
      column-count: 2;

    }
    .mostpop__list-item{
      width: 100%;
      padding-bottom: 0;
    }
    .mostpop__list-item-headline{
      width: 320px;
    }
  }
}
