.style--georgia{

  .promo__headline,.promo__summary{
    font-family: georgia;
  }

}
.style--italic{
  .promo__headline,.promo__summary{
    font-style: italic;
  }

}

.style-reverse{
  .promo{
    flex-direction: row-reverse;
    @include mq($from: 'gel-bp-l') {
      .promo__item.promo__media{
        padding-right: 0 !important;
        padding-left: 8px !important;
      }
      .promo__item.promo__body{
        padding-right: 4px !important;
      }
    }
  }
}
.theme--native-ad{
   padding-top: $gel-spacing-unit * 2;
   margin-top: $gel-spacing-unit * 2;

    @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
      margin-top: $gel-spacing-unit * 4;
      padding-bottom: 8px;
    }

}
.theme--keyline {
  &.ad-native--wrap{
      .promo{
        background-color: #ffffff;
        border: 1px solid rgba(#000000, 0.5);
      }
    }
}
.theme--dark {
  &.ad-native--wrap{

      .promo{
          background-color: $aliceblue;
        a{
          font-style: italic;
          color: $ebon;
          -webkit-font-smoothing: antialiased;
          &:hover{
            color: #1d5f7b;
          }
        }
        .promo__summary{
          font-style: italic;
          color: $rhino;
        }
        .sponsorship__copy{
          color: $rhino;
        }
        .sponsorship__brand{

        }
      }
  }

}

.theme--stone {
  &.ad-native--wrap{
      .promo{
        background-color: $stone;
        a{

        }
        .promo__summary{

        }
        .sponsorship__copy{

        }
        .sponsorship__brand{

        }
      }
  }

}
.theme--cold-grey {
  &.ad-native--wrap{

      .promo{
        background-color:$aliceblue;



        .promo__summary{
          color: $ebon;
        }
        .sponsorship__copy{

        }
        .sponsorship__brand{

        }
      }
  }

}

.ad-native--wrap{

  .promo{
    background-color: $oat;
    .promo__body{
      padding-left: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
    }

      @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {

      }
    .promo__headline{
      @include gel-typography('great-primer');
      font-weight: 400;
    }

  }



  @include mq($from: 'gel-bp-xs', $until:'gel-bp-m') {
    .ad-native__item{
      width: gel-columns(1/2);
    }
    .promo--card .promo__media{
      padding: 0;
    }
    .promo--card .promo__body{
      padding: 8px;
    }
    .sponsorship__brand{
      margin-top: 8px;
    }
  }
  @include mq($from: 'gel-bp-xs', $until:'gel-bp-l') {
    .promo{
      display: flex;
      flex-direction: column;
    }
    .promo__body{

      display: flex;
      justify-content: space-between;
      flex-direction: column;
      flex: 1 1 auto;
      padding-top: 4px !important;
      padding-right: 12px;

    }
  }

  @include mq($from: 'gel-bp-l') {
    .promo .promo__body{
      padding-left: 12px !important;
    }
  }
  .single {
    .promo__body{
      justify-content: flex-start;
    }
    .promo__headline{
      @include gel-typography('trafalgar');
      font-weight: 400;
    }
    .promo__summary{
      @include gel-typography('pica');
      padding-bottom: 16px;
    }
    .gel-responsive-image--16by9{
    padding-bottom: 36%;
    background-position: 50% 50%;
   }
   @include mq($from: 'gel-bp-xs', $until:'gel-bp-l') {
     .ad-native__item{
       width: gel-columns(12/1);
     }
     .promo__body{
       padding-top: 4px;
     }
   }

  @include mq($from: 'gel-bp-m', $until:'gel-bp-l') {
    .sponsorship{
      width: gel-columns(1/3);
      flex-direction: row;
      justify-content: flex-end;
    }
    .promo__content{
      width: gel-columns(2/3);
      padding-right: 16px;
    }
    .promo__body{
      flex-direction: row;
      padding-right: 12px;
      padding-top: 4px;
    }
    .sponsorship__copy, .sponsorship li:last-child{
     flex-direction: row;
      justify-content: center;
    }
  }
   @include mq($from: 'gel-bp-l') {
     .promo{
          flex-direction: row-reverse;
     }
     .promo__media{
       width:75%;
       padding-right: 0 !important;
       padding-left: 8px;
     }
     .promo__body{
       width: 25%;
       padding-left: 12px !important;
     }
   }

     @include mq($from: 'gel-bp-xxl') {
       .promo__media{
         width:60%;
       }
       .promo__body{
         width: 40%;
       }
     }
 }


}



.ad-native--box{
  width: 100%;

  @include mq($from: 'gel-bp-xs') {
  margin-top: 40px;
  border-top: 1px solid $keyline-color;
  padding-top: 26px;
  }
  @include mq($from: 'gel-bp-m') {
  border-top: 1px solid $keyline-color;
  padding-top: 26px;
  }
}
